<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header section-header-2 hiring-sec">
							<h1 class="title-head">Project, Transformation & Consulting</h1>
							<p>The constantly changing business landscape means that we are increasingly seeing organisations undergoing periods of change and transformation. Portrec provides effective solutions to our client’s complex challenges by delivering unrivalled talent in the areas of Project, Transformation and Consulting. We support your business to innovate and grow by helping to make talent a source of value and competitive advantage. These professionals will help you keep up with the rapid pace at which business is evolving and allow you to move your company forward with confidence.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="d-flex flex-wrap mt-5">
							<div class="col-md-8">
								<h3 class="title-32 mb-4">How we can help you…</h3>
								<p>We pride ourselves on being able to connect you with the best talent to suit your project requirements. We do this by using our global reach and connections teamed with our local industry knowledge to give you the best and most thorough experience possible in regards to ensuring the successful delivery of your projects.</p>
								<p>We promise to do this in as cost effective a way as possible, ensuring that you get value for your money results wise.Our expert resource planning allows us to collaborate with your business to put strategic plans in place for future programmes of work to ensure the project is off the ground without delay. We are also fully flexible, consistently striving towards achieving the best results possible and going above and beyond to ensure there is a solution for every Project requirement.</p>
							</div>
							<div class="col-md-4">
								<img src="images/file-txt.png">
							</div>
						</div>
						<div class="list--follow pt-5">
							<h3 class="title-32">We specialise in the following areas…</h3>
							<div class="item-special">
								<ul class="spec--itm-list">
									<li>Programme Management</li>
									<li>Project Management</li>
									<li>PMO</li>
									<li>Business Analysis</li>
									<li>Change Management</li>
									<li>Finance Transformation</li>
									<li>People &amp; Organisational Readiness</li>
									<li>Management Consulting</li>
									<li>Data &amp;&nbsp;Analytics</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="senn-box-cv p-3">
				        	<div class="comn-get-touch">
				        		<div class="touch--header">
					        		<h3>Get In Touch</h3>
					        		<p>Fill in your details in the form below and we will be in touch to discuss your hiring needs!</p>
					        	</div>
				        		<form action="">
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<button type="button" class="btn-text-link">Sign in with <strong>LinkedIn</strong></button>
				        						<br>
				        						<span>AutoFill your information</span>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<select class="form-control controler-fill">
				        							<option>What are you looking for?</option>
				        							<option>Looking to hire new people</option>
				        							<option>Looking for job opportunity</option>
				        						</select>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="First Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="Last Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="email" class="form-control controler-fill" placeholder="Email Address" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="number" class="form-control controler-fill" placeholder="Phone Number" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-row form-group fill-txt_size">
				        				<div class="col-12">
				        					<div class="check-box-fill d-flex">
				        						<label class="check--label">
				        							<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
				        						</label>
				        						<p>I consent to Portrec processing my personal information in accordance with the Portrec <a href="#" target="_blank">Privacy Statement</a> </p>
				        					</div>
				        					<p>Do you want to hear about the latest recruitment insights, salary guides and professional networking events that are relevant to you?</p>
				        				</div>
				        			</div>
				        			<div class="form-row form-group radio-fillup">
				        				<div class="col-12">
				        					<span>
					        					<label class="radio-btn">No
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
											<span>
												<label class="radio-btn">Yes
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
				        				</div>
				        			</div>
				        			<div class="form-row fill-txt_size">
				        				<div class="col-12">
				        					<div class="submitdetail text-center">
				        						<button type="submit" class="btn">SUBMIT</button>
				        					</div>
				        				</div>
				        			</div>
				        		</form>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-5 why-sec0-colm">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="insure--mck text-center mb-5">
							<h3 class="internal-head">Why choose Portrec?</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="col-tt-m">
							<span class="img-whh-col"><img src="images/talen-1.png"></span>
							<h4 class="title-m-why">Access to the Best People</h4>
							<p>We provide you with access to the best talent to meet your project needs.</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="col-tt-m">
							<span class="img-whh-col"><img src="images/talen-2.png"></span>
							<h4 class="title-m-why">Cost Effective Solutions</h4>
							<p>We offer you expert market solutions at a leading, competitive rate.</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="col-tt-m">
							<span class="img-whh-col"><img src="images/talen-3.png"></span>
							<h4 class="title-m-why">Flexibility</h4>
							<p>We are flexible in our approach which allows you to be too. We know how quickly market changes occur, and allow for this when delivering our services. </p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-l">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">Want to find out more?</h2>
							<p>Get in touch to discuss how we can support your hiring process in a way that meets your budget</p>
							<div class="inter-more">
								<a href="#" class="btn-white btn">GET IN TOUCH</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y">
							<img src="images/touch-mobile.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>