<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Portal</title>
	<link rel="icon" href="icon/favicon.png" type="image/gif" sizes="16x16">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<!------------ slider ----->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!---- bootstrap ----->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animatable.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="">
							<div class="card">
								<div class="card-header">Create a New Job Listing</div>
								<div class="body-post--warp">
									<div class="">
										<form>
											<div class="colm-divi-ass">
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12 col-md-6">
									    				<label class="label-fill">Job Title</label>
									    				<input type="text" class="form-control form-fill" name="">
									    			</div>
									    		</div>
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Job Functions</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>Admin & office</option>
									    				</select>
									    			</div>
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Industry</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>Education</option>
									    				</select>
									    			</div>
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Work Type</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>Full Time</option>
									    				</select>
									    			</div>
									    		</div>
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Location</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>Benue</option>
									    				</select>
									    			</div>
									    			<div class="col-12 col-md-4">
									    				<div class="d-flex">
									    					<div class="col-12 col-md-6">
											    				<label class="label-fill">Salary Currency</label>
											    				<select class="form-control form-fill">
											    					<option>Select</option>
											    					<option>Education</option>
											    				</select>
											    			</div>
											    			<div class="col-12 col-md-6">
											    				<label class="label-fill">Monthly Salary</label>
											    				<select class="form-control form-fill">
											    					<option>Select</option>
											    					<option>Education</option>
											    				</select>
											    			</div>
										    			</div>
									    			</div>
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Minimum Qualification</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>Diploma</option>
									    				</select>
									    			</div>
									    		</div>
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Experience Length</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>16 Years</option>
									    				</select>
									    			</div>
									    			<div class="col-12 col-md-4">
									    				<div class="d-flex">
									    					<div class="col-12 col-md-6">
											    				<label class="label-fill">Available Openings</label>
											    				<input type="number" class="form-control form-fill">
											    			</div>
											    			<div class="col-12 col-md-6">
											    				<label class="label-fill">Job Level</label>
											    				<select class="form-control form-fill">
											    					<option>Select</option>
											    					<option>Entry Level</option>
											    				</select>
											    			</div>
										    			</div>
									    			</div>
									    			<div class="col-12 col-md-4">
									    				<label class="label-fill">Days Online (45 Day Limit)</label>
									    				<select class="form-control form-fill">
									    					<option>Select</option>
									    					<option>45</option>
									    				</select>
									    			</div>
									    		</div>
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12">
									    				<label class="label-fill">Job Summary</label>
									    				<textarea class="txt-area-fill form-control"></textarea>	
									    			</div>
									    		</div>
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12">
									    				<label class="label-fill">Job Description</label>
									    				<textarea class="txt-area-fill form-control"></textarea>	
									    			</div>
									    			<div class="col-12 mt-3 post--ll">
									    				<label class="check--label"><input type="checkbox"><span class="checkmark"></span> <b>Post job as anonymous</b></label>
									    			</div>

									    		</div>
									    	</div>
									    	<div class="colm-divi-ass">
									    		<div class="form-group form-row row-fill-frm">
									    			<div class="col-12">
									    				<h5>How would you like to view the applications for this job?</h5>
									    				<p>
									    					<label class="radio-btn">
															  <input type="radio" checked="checked" name="radio">
															  <span class="checkmark"></span>
															</label>
															View applications in employer ATS and receive email notifications.
														</p>
														<p><input type="email" class="form-control form-fill" placeholder="" value="info@gmail.com" name=""></p>
														<p>
									    					<label class="radio-btn">
															  <input type="radio" checked="checked" name="radio">
															  <span class="checkmark"></span>
															</label>
															View applications in employer ATS only.
														</p>
													</div>
												</div>
												<div class="form-group form-row row-fill-frm">
													<div class="col-12">
														<h5>Is the job application form on a different website?</h5>
														<p>
									    					<label class="radio-btn">
															  <input type="radio" checked="checked" name="radio">
															  <span class="checkmark"></span>
															</label>
															Job seekers will apply for this job on a different website.
														</p>
														<p>
															<input type="text" class="form-control form-fill" placeholder="" value="https://www.google.com" name="">
														</p>
														<p>
															Once you have published this job, our team will contact you for payment. <br>Please note: Our Assessments add-on is not available when using link out. It's only available when making full use of the ATS.
														</p>
									    			</div>
									    		</div>
									    		<div class="form-group form-row row-fill-frm">
													<div class="col-12">
														<p><label class="check--label"><input type="checkbox"><span class="checkmark"></span>Share Job on Facebook</label></p>
														<p>If selected, your listing will also be posted to our Facebook pages for wider audience.</p>
													</div>
												</div>
									    	</div>
									    	<div class="colm-divi-ass">
									    		<div class="text-center">
									    			<h4>ASSESSMENTS <span>NEW</span></h4>
									    			<p>Improve your chances of getting the best candidate by simply adding a prescreening assessment for them to do.</p>
									    			<div class="">
									    				<p>*Note: This requires an assessment credit</p>
									    			</div>
									    			<div class="d-inline-block">
									    				<label class="check--label"><input type="checkbox"><span class="checkmark"></span>ADD ASSESSMENT</label>
									    			</div>
									    		</div>
									    	</div>
								    		<div class="card-footer-bottom d-flex justify-content-between p-4">
								    			<div class="">
								    				<button type="button" class="btn btn-red btn-height">SAVE DRAFT</button>
								    			</div>
								    			<div class="">
								    				<button type="button" class="btn btn-white btn-height mr-4">PREVIEW JOB LISTING</button>
								    				<button type="button" class="btn btn-white btn-height">POST</button>
								    			</div>
								    		</div>
								    	</form>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
	</div>