	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-9">
						<div class="card">
							<div class="card-body">
								<div class="mb-5">
									<h3 class="internal-head text-center mb-5">Featured Product</h3>
									<h4 class="title-22">We now offer skills assessments when creating a job listing</h4>
									<p>You decrease the time spent on sorting through the huge volume of applications from jobseekers. You can sort through job seekers based on test scores they achieve.</p>
									<p>An assessment will not only help you identify candidates that will be a good fit for jobs at your company, but it will also help predict a new hire’s on-the-job performance. It Introduces an element of objectivity into the hiring process by providing standardised results that can be applied to all your applicants.</p>
								</div>
								<div class="assem-div-0">
									<h4 class="title-22">Assessments available for these categories</h4>
									<ul class="assem-list">
										<li>Finance</li>
										<li>IT & Software</li>
										<li>Admin & Office</li>
										<li>Marketing & Comms</li>
										<li>Human Resources</li>
										<li>Customer Service & Support</li>
										<li>Product & Project Management</li>
										<li>Engineering & Technology</li>
										<li>Transport & Logistics</li>
										<li>Supply Chain & Procurement</li>
										<li>Sales</li>
										<li>Management & Business Development</li>
										<li>And more</li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<section class="py-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3 class="internal-head text-center mb-5">Products & Pricing</h3>
					</div>
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="box-pr-colum">
								<span class="most-off">LIMITED OFFER</span>
								<h3 class="title-pr-p">Job Listing</h3>
								<span class="head-new-p">Free</span>
								<p>Great for hiring on a budget</p>
								<p>Post a job, find a candidate. It couldn't be simpler.</p>
								<div class="">
									<ul class="btm-max-list">
										<li class="listmax">Maximum Reach</li>
										<li class="listmax">All-in-One Applicant Management System</li>
										<li class="listmax">Unlimited Applications</li>
										<li class="listmax">Access your Candidates forever</li>
									</ul>
									<div class="ab-n-btn">
										<a href="#" class="btn btn-red">POST FOR FREE</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="box-pr-colum">
								<span class="most-off">MOST POPULAR</span>
								<h3 class="title-pr-p">Best Match</h3>
								<span class="head-new-p">NGN 52,000</span>
								<h6>Including VAT</h6>
								<p>Hire the right fit, faster!</p>
								<p>Our HR Experts & Technology match you with the best Candidates.</p>
								<div class="">
									<ul class="btm-max-list">
										<li class="listmax">All the benefits of “Job Listing”</li>
										<li class="listmax">Best Match</li>
										<li class="listmax">HR Experts</li>
										<li class="listmax">Matching Technology</li>
										<li class="listmax">Efficient Turnaround</li>
									</ul>
									<div class="ab-n-btn">
										<a href="#" class="btn btn-red">BUY NOW</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="box-pr-colum">
								<span class="most-off">Pro Recruit</span>
								<h3 class="title-pr-p">NGN 90,000</h3>
								<span class="head-new-p"></span>
								<h6>Including VAT</h6>
								<p>Let the Professionals handle it.</p>
								<p>We do the hard work for you and find the perfect candidates.</p>
								<div class="">
									<ul class="btm-max-list">
										<li class="listmax">We Find Candidates</li>
										<li class="listmax">We Screen the Candidates</li>
										<li class="listmax">We Handpick the Candidates</li>
										<li class="listmax">You Hire</li>
									</ul>
									<div class="ab-n-btn">
										<a href="#" class="btn btn-red">BUY NOW</a>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<section class="py-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3 class="internal-head text-center mb-5">Personalised HR solutions</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-8">
						<div class="hr-solve">
							<h3 class="title-22">End to End HR Solutions</h3>
							<p>Get tailored HR Solutions that match all your business needs.</p>
						</div>
						<ul class="d-flex flex-wrap hr-solution">
							<li class="listh-type col-12 col-md-6">
								<h5>Executive Recruitment</h5>
								<span>Our expert team will provide a professional Executive and Graduate Recruitment service up to the point that you have hired the ideal candidate.</span>
							</li>
							<li class="listh-type col-12 col-md-6">
								<h5>Salary Benchmarking</h5>
								<span>As an authoritative reference point in the job market, our consulting experts will help your business to benchmark salaries accurately.</span>
							</li>
							<li class="listh-type col-12">
								<h5>HR Consulting</h5>
								<span>Our HR consultants will work with you to ensure maximum business success by offering Customised Competency Assessments, Performance Management, Employee Outsourcing and Staff Training.</span>
							</li>
						</ul>
					</div>
					<div class="col-12 col-md-4 offer-bg">
						<div class="right-side--offer">
							<div class="offercall">
								<h5>Our Personalised HR Solutions offer <br><b>'Fit For Purpose'</b></h5>
								<p>Products That Align With Your Business Objectives</p>
								<div class="cont-pro">
									<a href="#" class="btn btn-red btn-height">CONTACT OUR SOLUTIONS TEAM</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-4">
						<div class="start-wigits--mm">
							<h3 class="get-title mb-4">Get started with Jobberman</h3>
							<h3 class="get-title mb-4">Got some questions?</h3>
							<p>Call our Solutions Team</p>
							<p>on <a href="#" class="text-color">+234 (0) 813 985 9999</a></p>
							<div class="get-btn-r">
								<a href="#" class="btn btn-red btn-height">Request a call</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>