
	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="	">
							<div class="card">
								<div class="card-header">My Credit Balance</div>
								<div class="bottom-cand-job">
									<div class="bottom-top-part border-bottom">
										<div class="searc-top-head">
											<div class="src-job-head"><h4 class="src-title-job mb-3">Listing Credits</h4></div>
										</div>
										<ul>
											<li>Job Listings <span class="ml-5">0</span></li>
										</ul>
										<p>Enjoy posting jobs for free (Limited time offer). You will not require Job Listing Credits to post jobs during this time. Post for FREE!</p>
									</div>
									<div class="bottom-top-part border-bottom">
										<div class="searc-top-head">
											<div class="src-job-head"><h4 class="src-title-job mb-3">Add-ons</h4></div>
										</div>
										<ul>
											<li class="d-block">Job Boost<span class="ml-5">0</span></li>
											<li class="d-block">Assessment<span class="ml-5">0</span></li>
										</ul>
										<p>Enjoy posting jobs for free (Limited time offer). You will not require Job Listing Credits to post jobs during this time. Post for FREE!</p>
									</div>
									<div class="bottom-btm-part">
										<span class="btn-form-job"><button class="btn btn-red btn-height mr-3">Add More Credits</button></span>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
	</div>