<div class="wrapper">
    <section class="py-5" style="background: #f8f9fa;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Account Settings</div>
                        <div class="card-body p-0">
                            <div class="account-wraper">
                                <div class="left-navmenu">
                                    <ul class="nav navtab-menu nav-pills">
                                      <li><a class="active" data-toggle="tab" href="#tab1">Personal Information</a></li>
                                      <li><a data-toggle="tab" href="#tab2">Password</a></li>
                                      <li><a data-toggle="tab" href="#tab3">Mobile Number</a></li>
                                      <li><a data-toggle="tab" href="#tab4">Email Address</a></li>
                                      <li><a data-toggle="tab" href="#tab5">Social Accounts</a></li>
                                    </ul>
                                </div>
                                <div class="rightside-profile">
                                    <div class="tab-content">
                                      <div id="tab1" class="tab-pane in active">
                                        <div class="form-fill-wrapper">
                                            <form>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 col-md-6">
                                                        <label class="label-fill">First Name</label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label class="label-fill">Last Name</label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                    </div>
                                                </div>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 col-md-4">
                                                        <label class="label-fill">Date Of Birth</label>
                                                        <select class="form-control form-fill">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <select class="form-control form-fill">
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mau</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <select class="form-control form-fill">
                                                            <option>1991</option>
                                                            <option>1992</option>
                                                            <option>1993</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12">
                                                        <label class="label-fill">Nationality</label>
                                                        <select class="form-control form-fill">
                                                            <option>Indian</option>
                                                            <option>USA</option>
                                                            <option>German</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12">
                                                        <label class="label-fill">Gender</label>
                                                        <div class="radio-fill">
                                                            <label class="radio-btn">Male
                                                              <input type="radio" checked="checked" name="radio">
                                                              <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                        <div class="radio-fill">
                                                            <label class="radio-btn">Female
                                                              <input type="radio" checked="checked" name="radio">
                                                              <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer-bottom d-flex justify-content-between">
                                                    <button class="btn btn-white" type="button">BACK</button>
                                                    <button class="btn btn-red" type="submit">SAVE</button>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                      <div id="tab2" class="tab-pane fade">
                                        <div class="form-fill-wrapper">
                                            <form>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 ">
                                                        <label class="label-fill">Current Password</label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                    </div>
                                                </div>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 ">
                                                        <label class="label-fill">New Password</label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                    </div>
                                                </div>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 ">
                                                        <label class="label-fill">Confirm Password</label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                    </div>
                                                </div>
                                                <div class="card-footer-bottom d-flex justify-content-between">
                                                    <button class="btn btn-white" type="button">BACK</button>
                                                    <button class="btn btn-red" type="submit">SAVE</button>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                      <div id="tab3" class="tab-pane fade">
                                        <div class="form-fill-wrapper">
                                            <form>
                                                <div class="form-group form-row resend-row row-fill-frm">
                                                    <div class="col-resend-1">
                                                        <label class="label-fill">Verify Your Mobile Number</label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                        <span class="resend-b"><button type="button" class="btn resend-btn btn-white">RESEND CODE</button></span>
                                                    </div>
                                                    <div class="col-resend-2">
                                                        <button class="btn btn-red">Verify Number</button>
                                                    </div>
                                                </div>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 col-md-6">
                                                        <label class="label-fill">Mobile Number Country</label>
                                                        <select class="form-control form-fill">
                                                            <option value="">Select</option>
                                                            <option value="AF">Afghanistan (+93)</option>
                                                            <option value="AL">Albania (+355)</option>
                                                            <option value="DZ">Algeria (+213)</option>
                                                            <option value="AS">American Samoa (+1)</option>
                                                            <option value="AD">Andorra (+376)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label class="label-fill">Mobile Number <span class="unvery text-color">UNVERIFIED</span></label>
                                                        <input type="text" class="form-control form-fill" name="">
                                                    </div>
                                                </div>
                                                <div class="card-footer-bottom d-flex justify-content-between">
                                                    <button class="btn btn-white" type="button">BACK</button>
                                                    <button class="btn btn-red" type="submit">UPDATE NUMBER</button>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                      <div id="tab4" class="tab-pane fade">
                                        <div class="form-fill-wrapper">
                                            <form>
                                                <div class="form-group form-row row-fill-frm">
                                                    <div class="col-12 ">
                                                        <label class="label-fill">Email <span class="unvery text-color">UNVERIFIED</span></label>
                                                        <input type="email" class="form-control form-fill" name="">
                                                    </div>
                                                </div>
                                                <div class="card-footer-bottom d-flex justify-content-between">
                                                    <button class="btn btn-white" type="button">CANCEL</button>
                                                    <button class="btn btn-red" type="submit">SAVE</button>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                      <div id="tab5" class="tab-pane fade">
                                        <div class="form-fill-wrapper">
                                            <div class="social-head">
                                                <h4>You can link your account with the following network:</h4>
                                            </div>
                                            <div class="box-soc-acnt">
                                                <ul class="list-boxsocial">
                                                    <li>
                                                        <div class="social-link-acc">
                                                            <div class="social-fill"><span class="icon-for-soc face-color"><i class="fa fa-facebook" aria-hidden="true"></i></span>Facebook</div>
                                                            <div class="switch-soc-btn"><label class="check--label"><input type="checkbox" checked="checked"><span class="checkmark"></span></label></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="social-link-acc">
                                                            <div class="social-fill"><span class="icon-for-soc google-color"><i class="fa fa-google-plus" aria-hidden="true"></i></span>Facebook</div>
                                                            <div class="switch-soc-btn"><label class="check--label"><input type="checkbox"><span class="checkmark"></span></label></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="social-link-acc">
                                                            <div class="social-fill"><span class="icon-for-soc link-color"><i class="fa fa-linkedin" aria-hidden="true"></i></span>Facebook</div>
                                                            <div class="switch-soc-btn"><label class="check--label"><input type="checkbox" checked="checked"><span class="checkmark"></span></label></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-footer-bottom d-flex justify-content-between">
                                                <button class="btn btn-white" type="button">CANCEL</button>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>