
		<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header hiring-sec">
							<h1 class="title-head">How We Discover Your Talent</h1>
							<p>When it comes to discovering the best talent to fill your role, we leave no stone unturned. And with our four-step process outlined below, you’ll see how we use our experience, sourcing technologies, and industry knowledge as we take you through the process – one step at a time.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp py-5">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="img-sepc">
							<img src="images/process-1.png">
						</div>
					</div>
					<div class="col-md-8">
						<div class="spe-disc-m">
							<h2 class="scnd-title">Understanding what you need</h2>
							<p class="dic--m-tag">We have lots to talk about. And in order to get the complete picture of what you need, we’ll go through the new role in detail, making sure we understand your requirements and expectations to map out a process designed just for you. At this stage, we’ll also advise on other key issues, like level of remuneration and benefits.</p>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-md-8">
						<div class="spe-disc-m">
							<h2 class="scnd-title">Search the right places, approach the best people</h2>
							<p class="dic--m-tag">While it’s most definitely a human-led process, we use technology early on that allows us to search millions of people in seconds. Your role can also be advertised across all our websites if you wish. Then, we try and engage the best prospects through our own network, completing initial interviews, background checks, reference checks, skills assessment, and psychometric tests as required.</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="img-sepc">
							<img src="images/process-2.png">
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-12 col-md-4">
						<div class="img-sepc">
							<img src="images/process-3.png">
						</div>
					</div>
					<div class="col-md-8">
						<div class="spe-disc-m">
							<h2 class="scnd-title">Fine-tuning your shortlist</h2>
							<p class="dic--m-tag">It’s time to whittle down our list and now that we know who we need to go after, we’ll then get in touch with them where they’ll be fully briefed on your company and the role in more detail. Once we know they’re happy to be put forward, we’ll go through our shortlist with you, offering advice and insight as you need it.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="spe-disc-m">
							<h2 class="scnd-title">Helping you make your final choice</h2>
							<p class="dic--m-tag">We’re very close now and we can give you full support through the hiring phase itself. From all aspects of interview preparation to scheduling, we’ll have everything covered. You’ll get feedback the whole time and we’ll stay in touch to keep an eye on how your new colleague is settling in, offering additional support if you need it.</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="img-sepc">
							<img src="images/process-4.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-l">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">Get in touch with Morgan McKinley today</h2>
							<p>It's our duty to speak the same language as our candidates and clients. Get in touch to discuss how we can support your hiring process in a way that meets your budget.</p>
							<div class="inter-more">
								<a href="#" class="btn-red btn">FIND TALENT</a>
								<a href="#" class="btn-white btn">GET IN TOUCH</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y">
							<img src="images/gettouch.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>