<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header section-header-2 hiring-sec">
							<h1 class="title-head">Strategy & Transformation</h1>
							<p>If you are facing regulatory change, system implementation or need to enhance internal operations, you need a recruitment partner you can depend on. Or you might feel that now is the right time to take on large-scale people or organisational change. Large-scale change is never easy and we’ll go above and beyond to help you find the best people to help get you the results you want.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="d-flex flex-wrap mt-5">
							<div class="col-md-8">
								<h3 class="title-32 mb-4">How we can help you…</h3>
								<p>With our established brand and deep expertise across all sectors we believe we are best placed to help businesses achieve their long term goals and succeed in the war for talent.</p>
								<p>Our consultants work with experienced strategists from both top-tier consulting and corporate backgrounds and assist them in securing career opportunities across all industry sectors. Our Strategy Recruitment Consultants team provides permanent and contract recruitment solutions to a broad range of clients. We have a dedicated research function that maps the strategy consulting market both locally and offshore to provide our clients with pre-eminent talent.</p>
							</div>
							<div class="col-md-4">
								<img src="images/fieldhelp-img.png">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="senn-box-cv p-3">
				        	<div class="comn-get-touch">
				        		<div class="touch--header">
					        		<h3>Get In Touch</h3>
					        		<p>Fill in your details in the form below and we will be in touch to discuss your hiring needs!</p>
					        	</div>
				        		<form action="">
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<button type="button" class="btn-text-link">Sign in with <strong>LinkedIn</strong></button>
				        						<br>
				        						<span>AutoFill your information</span>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<select class="form-control controler-fill">
				        							<option>What are you looking for?</option>
				        							<option>Looking to hire new people</option>
				        							<option>Looking for job opportunity</option>
				        						</select>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="First Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="Last Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="email" class="form-control controler-fill" placeholder="Email Address" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="number" class="form-control controler-fill" placeholder="Phone Number" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-row form-group fill-txt_size">
				        				<div class="col-12">
				        					<div class="check-box-fill d-flex">
				        						<label class="check--label">
				        							<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
				        						</label>
				        						<p>I consent to Portrec processing my personal information in accordance with the Portrec <a href="#" target="_blank">Privacy Statement</a> </p>
				        					</div>
				        					<p>Do you want to hear about the latest recruitment insights, salary guides and professional networking events that are relevant to you?</p>
				        				</div>
				        			</div>
				        			<div class="form-row form-group radio-fillup">
				        				<div class="col-12">
				        					<span>
					        					<label class="radio-btn">No
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
											<span>
												<label class="radio-btn">Yes
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
				        				</div>
				        			</div>
				        			<div class="form-row fill-txt_size">
				        				<div class="col-12">
				        					<div class="submitdetail text-center">
				        						<button type="submit" class="btn">SUBMIT</button>
				        					</div>
				        				</div>
				        			</div>
				        		</form>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-l">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">How we can help your</h2>
							<p>We‘ll develop a partnership with your company as we work together to get a complete picture of where you are now and where you want to get to. Only then, can we identify who we need to talk to and where we must search for the talented people who will lead and implement your strategy and transformation project.</p>
							<div class="inter-more">
								<a href="#" class="btn-white btn">GET IN TOUCH</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y">
							<img src="images/finmore-img.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">Want to find out more?</h2>
							<p>Get in touch to discuss how we can support your hiring process in a way that meets your budget</p>
							<div class="inter-more">
								<a href="#" class="btn-white btn">GET IN TOUCH</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y-2">
							<img src="images/touch-mobile.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="advice-section hub-know">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="advice-title">
							<h3>Latest Insights and Advice</h3>
							<p>Our latest insights and advice contains a wide range of resources, advice & tips,recruitment insights and access to local & global salary guides.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-4">
						<div class="tip-col-md">
								<div class="img-ad-box">
									<a href="#"><img src="images/workingremotely.jpg"></a>
									<div class="brand-categ"><ul><li>Global</li><li>Advice &amp; Tips</li></ul></div>
								</div>
							<div class="bottom-advice">
								<h4 class="txt-ad-mg"><a href="#" class="ad-link-ht">Working Remotely: When virtual meetings and</a></h4>
								<p>Working remotely: Our guide to success The workforce of today is fortunate enough to have access to a plethora of tools which enable communication</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="tip-col-md">
								<div class="img-ad-box">
									<a href="#"><img src="images/stressing.jpg"></a>
									<div class="brand-categ"><ul><li>Global</li><li>Advice &amp; Tips</li></ul></div>
								</div>
							<div class="bottom-advice">
								<h4 class="txt-ad-mg"><a href="#" class="ad-link-ht">Fail fast: how NOT to hire your next strategy</a></h4>
								<p>We all know that culture eats strategy for breakfast. But what you might not know is that it also devours case studies, consumes psychometric testing,…</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="tip-col-md">
								<div class="img-ad-box">
									<a href="#"><img src="images/success.jpg"></a>
									<div class="brand-categ"><ul><li>Global</li><li>News</li></ul></div>
								</div>
							<div class="bottom-advice">
								<h4 class="txt-ad-mg"><a href="#" class="ad-link-ht">Portrec wins big at Best Places to</a></h4>
								<p>Portrec has been named one of Australia’s Best Places to Work, announced at the Great Place to Work Australia awards ceremony.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="text-center view-all-advice">
							<a class="btn global-btn" href="#">BROWSE LATEST INSIGHTS AND ADVICE <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>