	<div class="wrapper">
		<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header hiring-sec">
							<h1 class="title-head">Contact Us</h1>
							<p>Need more information about any of our recruitment services? Fill out our form below or call us. We are looking forward to working with you.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="detail-section-wid">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 offset-md-3">
						<div class="senn-box-cv contact-box-ab">
				        	<div class="content--part-cv">
				        		<form action="">
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<button type="button" class="btn-text-link">Sign in with <strong>LinkedIn</strong></button>
				        						<br>
				        						<span>AutoFill your information</span>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<select class="form-control controler-fill">
				        							<option>What are you looking for?</option>
				        							<option>Looking to hire new people</option>
				        							<option>Looking for job opportunity</option>
				        						</select>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-md-6">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="First Name" name="">
				        					</div>
				        				</div>
				        				<div class="col-md-6">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="Last Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-md-12">
				        					<div class="field--input">
				        						<input type="email" class="form-control controler-fill" placeholder="Email Address" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="number" class="form-control controler-fill" placeholder="Phone Number" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="Company Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-md-6">
				        					<div class="field--input">
				        						<select class="form-control controler-fill">
				        							<option>Industry</option>
				        							<option>IT</option>
				        							<option>Legal</option>
				        						</select>
				        					</div>
				        				</div>
				        				<div class="col-md-6">
				        					<div class="field--input">
				        						<select class="form-control controler-fill">
				        							<option>No. of Employees</option>
				        							<option>1-249 Employees</option>
				        							<option>249-400 Employees</option>
				        						</select>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="Position you are hiring for" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-row form-group fill-txt_size">
				        				<div class="col-12">
				        					<div class="check-box-fill d-flex">
				        						<label class="check--label">
				        							<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
				        						</label>
				        						<p>I consent to Morgan McKinley processing my personal information in accordance with the Morgan McKinley <a href="#" target="_blank">Privacy Statement</a> </p>
				        					</div>
				        					<p>Do you want to hear about the latest recruitment insights, salary guides and professional networking events that are relevant to you?</p>
				        				</div>
				        			</div>
				        			<div class="form-row form-group radio-fillup">
				        				<div class="col-12">
				        					<span>
					        					<label class="radio-btn">No
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
											<span>
												<label class="radio-btn">Yes
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
				        				</div>
				        			</div>
				        			<div class="form-row fill-txt_size">
				        				<div class="col-12">
				        					<div class="submitdetail text-center">
				        						<button type="submit" class="btn">SUBMIT</button>
				        					</div>
				        				</div>
				        			</div>
				        		</form>
				        	</div>
				        </div>
					</div>

					<div class="col-12">
						<div class="Call-us">
							<div class="text-center whole-number-fillup">
								<span class="call-txt d-block">Call us:</span>	
								<span class="change-number"><a href="#" class="num-tt">+351 1 5225 444</a></span>
							</div>
							<div class="hours-txt text-center">
								<p>Opening hours: 09:00am - 17:30pm</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="find-y-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="title-find"><h3>Find your local office</h3></div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-3">
						<div class="local-colum">
							<div class="local-img"><img src="images/contact-img-1.png"></div>
							<div class="address-bottom-n">
								<h4 class="heading--local">Australia</h4>
								<p class="address--local">
									<span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span>Level 9, 383 Kent Street, Sydney, NSW 2000</span></p>
								<p class="address--local"><span><i class="fa fa-phone" aria-hidden="true"></i></span><span><a href="tel:61 2 8986 3100">+61 2 8986 3100</a></span></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="local-colum">
							<div class="local-img"><img src="images/contact-img-2.png"></div>
							<div class="address-bottom-n">
								<h4 class="heading--local">Canada</h4>
								<p class="address--local"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span>425 Adelaide St. West, Suite 201, Toronto M5V 3C1, Canada</span></p>
								<p class="address--local"><span><i class="fa fa-phone" aria-hidden="true"></i></span><span><a href="tel:16474790155">+1 (647) 4790 155</a></span></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="local-colum">
							<div class="local-img"><img src="images/contact-img-3.png"></div>
							<div class="address-bottom-n">
								<h4 class="heading--local">Hong Kong</h4>
								<p class="address--local"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Suite 3407, Lippo Centre, Tower II, 89 Queensway, Admiralty, Hong Kong<span></span></p>
								<p class="address--local"><span><i class="fa fa-phone" aria-hidden="true"></i></span><span><a href="tel:85239073907">+852 3907 3907</a></span></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="local-colum">
							<div class="local-img"><img src="images/contact-img-4.png"></div>
							<div class="address-bottom-n">
								<h4 class="heading--local">Ireland - Dublin</h4>
								<p class="address--local"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span>Connaught House, Number One Burlington Rd, Dublin 4, D04 C5Y6</span></p>
								<p class="address--local"><span><i class="fa fa-phone" aria-hidden="true"></i></span><span><a href="tel:35314485660">+353 1 4485660</a></span></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="local-colum">
							<div class="local-img"><img src="images/contact-img-5.png"></div>
							<div class="address-bottom-n">
								<h4 class="heading--local">UK - London</h4>
								<p class="address--local"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span>61 Aldwych, London WC2B 4AE</span></p>
								<p class="address--local"><span><i class="fa fa-phone" aria-hidden="true"></i></span><span><a href="tel:442070920127">+44 20 70920127</a><a href="tel:442070920157">+44 20 70920157</a></span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="text-center">
							<a class="btn global-btn" href="#">See our full list of global offices <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
	</div>