<header class="header-wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="background-color: transparent !important;">
        <div class="container">
            <a class="navbar-brand brand-logo" href="#">
                <img src="../../../assets/images/picturemessage_j1toqfwj.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul *ngIf="utype == '0'" class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item menu-link-item">
                        <a class="nav-link" href="#/job">JOBSEEKERS</a>
                    </li>
                    <li class="nav-item menu-link-item">
                        <a class="nav-link" href="#/contact">Contact</a>
                    </li>
                    <li class="nav-item menu-link-item">
                        <a class="nav-link" href="#/signup">Signup</a>
                    </li>
                    <li class="nav-item menu-link-item">
                        <a class="nav-link" href="#/login">Login</a>
                    </li>
                    <li class="nav-item menu-link-item">
                        <a class="nav-link" href="#/job"><span class="btn"
                                style="background-color: white;color: red;border: 1px solid rgb(235, 1, 15);">Find
                                a Job</span></a>
                    </li>
                    <li class="nav-item menu-link-item">
                        <a class="nav-link" href="#/signup"><span class="btn"
                                style="background-color: white;color: red;border: 1px solid rgb(235, 1, 15);">Post
                                a Job</span></a>
                    </li>
                </ul>

                <ul *ngIf="utype == '2'" class="navbar-nav ml-auto align-items-center">
                <li class="nav-item menu-link-item">
                    <a class="nav-link" href="#/employer/welcome">WHAT'S NEW</a>
                </li>
                <li class="nav-item menu-link-item">
                    <a class="nav-link" href="#/employer/dashboard">DASHBOARD</a>
                </li>
                <li class="nav-item menu-link-item">
                    <a class="nav-link" href="#/employer/jobcreate">POST A JOB</a>
                </li>
                <li class="nav-item menu-link-item">
                    <a class="nav-link" href="#/employer/jobs">JOBS</a>
                </li>
                <li class="nav-item menu-link-item">
                    <a class="nav-link" href="#/employer/candidate-pool">CANDIDATE POOLS</a>
                </li>
                <li class="nav-item menu-link-item">
                    <a class="nav-link" href="#/employer/products">MANAGE PRODUCTS</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="search-form src--frmt">
        <div class="container">
            <div class="close-src-frm"><button class="double btn"><i class="fa fa-times"
                        aria-hidden="true"></i></button></div>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="form-js-wig">
                        <form>
                            <div class="form-group form-row mb-0">
                                <div class="src-form-comn form-type-1">
                                    <input type="text" name="" class="form-control"
                                        placeholder="What are you looking for...">
                                </div>
                                <div class="src-form-comn form-type-2">
                                    <select class="form-control">
                                        <option>All Sections</option>
                                        <option>Advice & Tips</option>
                                        <option>Events</option>
                                        <option>News</option>
                                    </select>
                                </div>
                                <div class="src-form-comn form-type-3">
                                    <button type="submit" class="btn btn-top-src"><i class="fa fa-search"
                                            aria-hidden="true"></i>Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>