<div class="wrapper">
    <section class="py-5" style="background: #f8f9fa;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card card-profile">
                        <div class="profile-fill-row">
                            <span class="user-holder-icon"><img src="../../../assets/images/userpalce.png"></span>
                            <h3 class="profile-name">John Doe</h3>
                            <h6 class="sub-head-car">Experience: 7 years</h6>
                            <h6 class="sub-head-car">Availability: More Than 3 Months</h6>
                            <h6 class="sub-head-car">Location: Zamfara</h6>
                        </div>
                    </div>
                    <div class="card card-plus">
                        <div class="left-pro-lock">
                            <div class="compl-profile">
                                <div class="percent--point"><span class="circle--perc">21%</span></div>
                                <div class="perc-disc-h"><h5 class="title-perc-pro">Complete Your Profile and Unlock Jobberman Plus</h5></div>
                            </div>
                            <div class="about-list">
                                <ul class="leftabt-wig">
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>About me<span class="file-perc">10%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Work Experience<span class="file-perc">15%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Education<span class="file-perc">20%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Language<span class="file-perc">1%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Profile Photo<span class="file-perc">1%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Upload CV<span class="file-perc">15%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Preferred Job Function<span class="file-perc">5%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Preferred Location<span class="file-perc">15%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Salary Expectation<span class="file-perc">1%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Work Type<span class="file-perc">1%</span></a></li>
                                    <li class="l-tag-w"><a href="#"><span class="circle-box-l"></span>Professional Headline<span class="file-perc">5%</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card card-unl-feature">
                        <div class="card-header">Unlock These Features</div>
                        <div class="card-body">
                            <div class="unlock-ftr">
                                <ul class="unloc-noti">
                                    <li>
                                        <div class="unl-flex">
                                            <div class="unl-col-1">
                                                <h6>Notifications</h6>
                                                <span>Unlocked at 50%</span>
                                            </div>
                                            <div class="unl-col-2">
                                                <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unl-flex">
                                            <div class="unl-col-1">
                                                <h6>Download Profile as CV</h6>
                                                <span>Unlocked at 80%</span>
                                            </div>
                                            <div class="unl-col-2">
                                                <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unl-flex">
                                            <div class="unl-col-1">
                                                <h6>Boosted Job Application & Candidate</h6>
                                                <span>Unlocked at 100%</span>
                                            </div>
                                            <div class="unl-col-2">
                                                <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="find-out">
                                <a href="#" class="btn btn-red">Find out More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="inform-warpper-row">
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Employment & Availability</h3>
                                <p>Keeping this section up to date will help employers & recruiters find you. They will know the field you are in, what your preferred industries are, and if you are actively looking.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Update</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>About Me</h3>
                                <p>Give a short overview of your career history and skills.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Work Experience</h3>
                                <p>Add your Work Experience. Such as an internship, part-time work or long term specialised experience.</p>
                            </div>
                            <div class="check-update"><label class="check--label"><input type="checkbox"><span class="checkmark"></span>I have no experience</label></div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Education</h3>
                                <p>List your qualifications here.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Job Skills</h3>
                                <p>What are your areas of expertise?</p>
                            </div>
                            <div class="extra-fill">
                                <input type="text" class="form-control" placeholder="Skill" name="">
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Associations</h3>
                                <p>Part of a professional association or organization? Add them to help enrich your professional profile.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Certificates & Awards</h3>
                                <p>Received any certificates or awards? Show them off to help enrich your career profile.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Language Skills</h3>
                                <p>Speak more than one language fluently? Let potential employers know.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Cover Letter</h3>
                                <p>Highlight your experience, skills and areas of expertise, as well as what you could bring to the company and what makes you the best candidate for the job.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>CV</h3>
                                <p>You can use your uploaded CV to quickly apply for a job.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Projects & Portfolio</h3>
                                <p>Add links to your online projects and portfolios or sites such as LinkedIn.</p>
                            </div>
                            <div class="upda-fill"><a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                        <div class="customer-card card--compact">
                            <div class="header-up-card">
                                <h3>Download Your Career Profile</h3>
                                <p>Completing your Career Profile makes it easier for employers to find you and will also be sent to employers & recruiters when you apply for a job, so keeping it up to date is very important.</p>
                            </div>
                            <div class="upda-fill download-fill">
                                <p>Download a professionally designed cv once your Career Profile is complete.</p>
                                <a href="#" class="btn btn-white upd-btn">Add</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>