
	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-7">
						<div class="card">
							<div class="card-header">Personal Information</div>
							<div class="card-body">
								<div class="jobseekerfrm">
									<form>
										<div class="form-group form-row row-fill-frm">
							    			<div class="col-12">
							    				<label class="label-fill">Email Address</label>
							    				<input type="email" class="form-control form-fill" name="">
							    			</div>
							    		</div>
							    		<div class="form-group form-row row-fill-frm">
							    			<div class="col-12">
							    				<label class="label-fill">Create Password</label>
							    				<input type="password" class="form-control form-fill" name="">
							    			</div>
							    		</div>
							    		<div class="form-group form-row row-fill-frm">
							    			<div class="col-12 col-md-6">
							    				<label class="label-fill">First Name</label>
							    				<input type="text" class="form-control form-fill" name="">
							    			</div>
							    			<div class="col-12 col-md-6">
							    				<label class="label-fill">Last Name</label>
							    				<input type="text" class="form-control form-fill" name="">
							    			</div>
							    		</div>
							    		<div class="form-group form-row row-fill-frm">
							    			<div class="col-12 col-md-4">
							    				<label class="label-fill">Date Of Birth</label>
							    				<select class="form-control form-fill">
							    					<option>1</option>
							    					<option>2</option>
							    					<option>3</option>
							    				</select>
							    			</div>
							    			<div class="col-12 col-md-4">
							    				<select class="form-control form-fill">
							    					<option>Jan</option>
							    					<option>Feb</option>
							    					<option>Mau</option>
							    				</select>
							    			</div>
							    			<div class="col-12 col-md-4">
							    				<select class="form-control form-fill">
							    					<option>1991</option>
							    					<option>1992</option>
							    					<option>1993</option>
							    				</select>
							    			</div>
							    		</div>
							    		<div class="form-group form-row row-fill-frm">
							    			<div class="col-12 col-md-6">
							    				<label class="label-fill">Gender</label>
							    				<select class="form-control form-fill">
							    					<option>Male</option>
							    					<option>Female</option>
							    				</select>
							    			</div>
							    			<div class="col-12 col-md-6">
							    				<label class="label-fill">Location</label>
							    				<select class="form-control form-fill">
							    					<option>Abhuja</option>
							    				</select>
							    			</div>
							    		</div>
							    		<div class="form-group form-row row-fill-frm">
							    			<div class="col-12 col-md-6">
							    				<label class="label-fill">Country Code</label>
							    				<select class="form-control form-fill">
							    					<option>India(+91)</option>
							    					<option>Germany(+49)</option>
							    				</select>
							    			</div>
							    			<div class="col-12 col-md-6">
							    				<label class="label-fill">Mobile Number</label>
							    				<input type="tell" class="form-control form-fill">
							    			</div>
							    		</div>
							    		<div class="form-group form-row row-fill-frm">
							    			<div class="col-12">
							    				<label class="label-fill">Nationality</label>
							    				<select class="form-control form-fill">
							    					<option>Indian</option>
							    					<option>USA</option>
							    					<option>German</option>
							    				</select>
							    			</div>
							    		</div>
							    		<div class="form-group text-center">
							    			<button class="btn btn-red" type="submit">CREATE YOUR ACCOUNT</button>
							    		</div>
							    	</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>