/*---- font-family: 'Open Sans', sans-serif; ------*/
body{
	margin: 0px;
    font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover, a:focus{
	text-decoration: none;
}
.btn:focus, button:focus{
	outline: none;
	box-shadow: none;
}
.primary-bg{
	background-color: #129d87;
}
p {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgb(51, 71, 91);
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(51, 71, 91);
}
.btn-more {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    color: rgb(235, 1, 15);
    padding-right: 20px;
    line-height: 22px;
    border-radius: 4px;
    transition: all 0.5s ease 0s;
    margin: 0px auto;
}
/*-------------------------*/
.search-form{
    display: none;
    padding: 47px 0 40px;
    position: fixed;
    z-index: 999;
    left: 0;
    background: #f0f2f7;
    right: 0;
    margin: 0 auto;
    top: 60px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.form-type-1, .form-type-2{
    flex: 1; 
    max-width: 940px;
    margin-right: 30px;
}
.form-type-3{
    width: 140px;
}
.form-js-wig .form-control {
    height: 50px;
    font-size: 14px;
    padding-left: 15px;
}
.src-form-comn .btn-top-src{
    color: rgb(255, 255, 255);
    background: rgb(235, 1, 15);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.src-form-comn .btn-top-src .fa-search{
    margin-right: 10px;
    font-size: 22px;
}
.close-src-frm {
    display: inline-block;
    position: absolute;
    top: -61px;
    right: 23%;
    z-index: 999;
}
.close-src-frm button {
    padding: 5px 17px 26px;
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: #f0f2f7;
    z-index: 999;
    border: 0;
}
.overlap{
    overflow: hidden;
    background-color: #000; 
}






/*--------------------------- header ---------------------*/
.top-head{
    position: relative;
    z-index: 99;
}
header{
    position: relative;
    z-index: 9;
    margin: 10px 0px 40px;
}
/* .navbar-nav .dropdown:hover > .dropdown-menu {
  display: block;
} */

/* .navbar-nav .dropdown > .dropdown-toggle:active {
  pointer-events: none;
} */
.text-loc{
    font-weight: 400;
    font-size: 12px;
    color: rgb(51, 71, 91);
}
.header-wraper .text-loc {
    color: #ffffff;
}
.dropdown-locate button{
    font-size: 12px;
    color: rgb(51, 71, 91);
    font-weight: 600;
    width: 170px;
    margin: 0px;
    background: rgb(245, 248, 250);
    border-radius: 0px 0px 3px 3px;
    padding: 7px 10px;
    text-align: left;
    text-transform: uppercase;
}
.dropdown-locate button.dropdown-toggle::after{
    float: right;
    margin-top: 7px;
}
.menu-link-item .nav-link, .menu-link-item .dropdown-item a{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(51, 71, 91);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(51, 71, 91);
}
.header-wraper .navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.header-wraper .navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.menu-link-item ul.dropdown-menu{
    z-index: 999;
}
.src-icon .fa-search {
    font-size: 18px;
}
.btn-red{
    position: relative;
    z-index: 0;
    background: rgb(235, 1, 15);
    padding: 0px 30px;
    font-size: 14px;
    height: 50px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(235, 1, 15);
    overflow: hidden;
    color: #fff;
    transition: .3s;
    line-height: 50px;
}
.btn-red:hover{
    color: #fff;
    border-color: transparent;
}
.btn-red::after, .btn-red::before{
    background: #ff2d39;
    content: '';
    position: absolute;
    z-index: -1;
}
.btn-red::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: 0;
    left: 29%;
    background-color: #eb010f;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    z-index: -1;
}
.btn-red::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 100%;
    left: -35%;
    top: 0;
    -webkit-transform: skew(50deg);
    transform: skew(50deg);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 0;
}
.btn-red:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.btn-red:hover::after {
    height: 100%;
    width: 135%;
}
.btn-white{
    position: relative;
    z-index: 0;
    background: #fff;
    padding: 0px 30px;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(255, 45, 57);
    overflow: hidden;
    color: rgb(235, 1, 15);
    transition: .3s;
}
.btn-white:hover{
    color: #fff;
    background: rgb(255, 45, 57);
}
.btn-white::after{
    background: #ff2d39;
    content: '';
    position: absolute;
    z-index: -1;
}
.btn-white::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 100%;
    left: -35%;
    top: 0;
    -webkit-transform: skew(50deg);
    transform: skew(50deg);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 0;
}
.btn-white:hover::after {
    height: 100%;
    width: 135%;
}
.header-wraper {
    position: relative;
    min-height: 790px;
    max-height: 790px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    overflow: hidden;
}
.banner-all{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
}
.overlay-video {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: linear-gradient(rgba(10, 10, 10, 0.89) 0px, rgba(9, 9, 9, 0.82) 14%, rgba(8, 8, 8, 0.69) 24%, rgba(0, 0, 0, 0.19) 100%);
}
.content-banner {
    position: relative;
    z-index: 1;
}
.main-tt-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
    max-width: 600px;
    margin: 30px 0px 10px;
}
.main-tt-content h2 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    max-width: 550px;
    margin: 50px 0px 30px;
    color: #EEE;
}
.hero .hero-btn-container {
    width: 100%;
    margin-top: 65px;
}

.btn-hiring{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    height: 50px;;
    color: rgb(255, 255, 255);
    line-height: 50px;
    position: relative;
    z-index: 0;
    background: rgb(235, 1, 15);
    padding: 0px 30px;
    border-radius: 5px;
    border: 1px solid rgb(235, 1, 15);
    overflow: hidden;

}
.btn-find {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    height: 50px;;
    color: rgb(235, 1, 15);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(235, 1, 15);
    line-height: 50px;
    position: relative;
    z-index: 0;
    padding: 0px 30px;
    border-radius: 5px;
    overflow: hidden;
}
.banner-curv {
    position: absolute;
    bottom: -5px;
    background-size: cover;
    z-index: 9;
    width: 100%;
}
.banner-curv img{
    width: 100%;
}




/*----------  Why Morgan Mckinley  ---------*/
.section-header {
    text-align: center;
    max-width: 750px;
    padding-bottom: 20px;
    margin: 0px auto;
}
.title-head{
    font-size: 50px;
    color: #33475b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.section-header p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #33475b;
    padding: 0;
    margin: 0 0 30px 0;
}
.expertise-box {
    text-align: center;
}
.field-content{
    margin-bottom: 20px;
}
.field-content img {
    width: 180px;
    margin: auto;
}
.we-text-head{
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgb(51, 71, 91);
    height: calc(16vh - 0px);
}
/*-------------  why morgan about ------------------- */
.bg-curv img{
    width: 100%;
    margin-bottom: -50px;
}
.bg-grey-sect{
    background: linear-gradient(rgb(248, 249, 251) 0px, rgb(255, 255, 255) 100%);
}
.map-about{
    position: relative;
    width: 800px;
    margin: auto;
    margin-top: -15%;
}
/*----------- salary  ----------*/

.bg-salary-sec{
    background:url(../images/salary-bg.png);
    padding: 130px 0px; 
    background-size: cover;
}
.salary-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-salary{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;;
    color: rgb(255, 255, 255);
    background: rgb(235, 1, 15);
    padding: 13.6px 30px;
    border-radius: 5px;
    min-height: 50px;
    overflow: hidden;
}
.btn-salary:focus, .btn-salary:hover {
    color: rgb(255, 255, 255);
    box-shadow: none;
    background: rgb(255, 45, 57);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 45, 57);
    border-image: initial;
}
/*-------------- service img------------------------*/
.service-bg{
    background-color: rgb(240, 242, 247);
}
.LeftServ-img-section{
    background: url(../images/service-img.jpg) no-repeat right center; 
    z-index: 1;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 48%, 0% 0%);
}
.content--serv-txt{
    padding-top: 100px;
}
.content--serv-txt h2{
    font-size: 40px;
    font-weight: 700;
}
.content--serv-txt p{
    font-size: 18px;
    font-weight: 400;
}
.rightSide-colm {
    position: relative;
    padding-left: 30px;
}
.rightSide-colm::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 0px;
    border-top: 1px solid rgb(220, 220, 220);
}
/*----------------two column-------------------*/
.card--box-sec {
    background: rgb(230, 232, 239);
    padding: 100px 0px;
}
.card-box-div{
    border:1px solid  rgba(91, 107, 123, 0.5);
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 30px;
}
.icon-middle {
    text-align: center;
}
.icon-middle img {
    max-height: 160px;
}
.card-title-d{
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
}
.view-guid {
    text-align: center;
}
.view-guid a {
    color: #EB010F;
    border: 1px solid #EB010F;
    padding: 12px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
/*-----------------------*/
.beyond-section{
    overflow: hidden;
}
.beyon-sec h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.beyon-sec p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom:0px;
}
.job-bd{
    text-align: center;
    position: relative;
}
.job-bd::after{
    content: "";
    background: url(../images/dot-img.png) no-repeat;
    position: absolute;
    right: 15px;
    top: 30px;
    z-index: 9;
    width: 120px;
    height: 68px;
    display: block;
}

.job-bd a{
    background-color: #EB010F;
    font-size: 13px;
    padding: 13px 18px;
    margin-left: 15px;  
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

/*-------------------- job-seeker  ----------------------*/
.suport-bradcum{
    margin: 30px 0px;
}
.bradcum-technical{
    font-size: 50px;
    font-weight: 700;
}
.list-breadcum .brd-sub-title {
    font-size: 13px;
    display: inline-block;
    padding-right: 5px;
    color: #33475b;
}
.list-breadcum .brd-sub-title::after {
    content: '/';
    margin-left: 5px;
}
.list-breadcum .brd-sub-title:last-child::after {
    display: none;
}
.job-title-head{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600; 
}
.job-disc-section {
    margin-bottom: 50px;
    font-family: 'Open Sans',sans-serif;
}
.full-discription p{
    margin-bottom:  30px;
}
.list--reponse h5{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;    
}
.comn-para-list{
    padding-left: 15px;
    margin-bottom: 30px;
}
.comn-para-list li{
    list-style: disc;
    font-size: 16px;
    margin-bottom: 10px;
    color: #33475b;
}
.title-consult{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px
}
.consult-box {
    background-color: #eef2f4;
    width: 100%;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}
.consult-box .consult-img{
    margin-right: 30px;
}
.consult-box .consult-img img {
    width: 184px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.consult-txt h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.consult-txt ul li {
    color:#33475B;
    font-size: 16px;
    margin-bottom: 10px;
}
.dtl-cont .fa {
    width: 25px;
    margin-right: 5px;
}
.right-bar-summ {
    position: sticky;
    top: 10px;
}
.sidebar-right-sumr {
    padding: 20px;
    background: #eef2f4;
    border-radius: 5px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 30px;
}
.list-of-summr h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.list-of-summr ul li {
    padding-bottom: 20px;
    font-size: 16px
    color:#33475B;
}
.list-of-summr ul li .fa{
    margin-right: 15px;
}
.apply-now-btn a {
    background-color: #eb010f;
    width: 100%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 1, 15);
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
}
.intro-search-button {
    margin-top: 9px;
    margin-right: 8px;
}
.src-btn-job{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    height: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 50px;
    position: relative;
    z-index: 0;
    background: rgb(235, 1, 15);
    padding: 0px 30px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 1, 15);
    border-image: initial;
    overflow: hidden;
}

.jobseek-sec{
    background: url(../images/inner-jo-banner.png) no-repeat;
    background-size: cover;
}
.job-search-form {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0,0,0,.09);
}
.job-search-field {
    padding: 10px 20px;
    flex: 1;
    align-items: center;
    display: flex;
    position: relative;
}
.job-search-field:first-child {
    border-right: 1px solid #e4e4e4;
}
.job-search-field .field-title {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: -35px;
    left: 10px;
    background: #33475b;
    color: #fff;
    border-radius: 4px;
    padding: 1px 10px;
    line-height: 22px;
    cursor: default;
    transition: all .3s ease-in-out 0s;
    font-family: 'Open Sans',sans-serif;
}
.job-search-field .field-title:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 22px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #33475b;
}
.job-search-field i {
    font-size: 28px;
    color: #33475b;
}
.job-search-field .dropdown-toggle, .job-search-field input[type=text], .job-search-field select {
    color: #33475b;
    height: 48px;
    padding: 0 15px;
    outline: 0;
    font-size: 18px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: none;
    background: #fff;
    text-align: left;
    box-shadow: none;
}
.job-search-field .dropdown-menu {
    width: 100%;
    margin-top: -3px;
    background-color: #fff;
    border: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
    transition: .4s;
    pointer-events: none;
    cursor: default;
    padding: 0px 10px 10px;
}
.job-search-field .dropdown-menu li a {
    display: block;
    padding: 0 12px;
    color: #33475b;
}
.job-search-field .dropdown-menu li {
    line-height: 35px;
    margin-bottom: 2px;
}
.job-search-field .dropdown-toggle::after{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 8px solid #33475b;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px;
    vertical-align: middle;
    transition: .35s;
}
.job-search-field .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px;
    vertical-align: middle;
    transition: .35s;
    transform: rotate(180deg);
}
.left-side-filter .sidebar-item {
    margin-bottom: 20px;
    background-color: #eef2f4;
    position: relative;
    border-radius: 5px;
}
.sidebar-item h4 {
    margin-bottom: 0;
    text-align: left;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}
.job-search-filter h4:after {
    font-family: "FontAwesome";
    content: "\f077";
    float: right;
    color: #33475b;
    opacity: .8;
    font-weight: 400;
    border-radius: 100%;
    height: 25px;
    width: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}
.job-search-filter h4.collapsed:after {
    content: "\f078";
}
.sidebar-item ul {
    list-style: none;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 0;
    overflow: auto;
    max-height: 324px;
}
.job-search-filter li {
    border-bottom: 1px dotted rgba(0,0,0,.1);
    position: relative;
    padding: 7px 0;
    font-size: 14px;
}
.job-search-filter li a {
    color: #33475b;
    display: block;
    font-size: 14px;
    transition: all .3s;
}
.all-d-txt{
    margin-bottom: 30px;
}
.all-d-txt h3{
    margin-bottom: 0px;
    color: #33475B;
    font-size:40px;
}
.all-d-txt span{
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}
.job-search-item {
    background: #fff;
    transition: all .5s ease-in-out 0s;
    display: block;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 25px 25px 0px;
    position: relative;
    margin-bottom: 30px;
}
.job-search-item a {
    display: block;
}
.job-search-item h5{
    font-size: 24px;
    font-weight:600;
    color: #33475B; 
    margin-bottom: 20px;
}
.job-search-list p {
    margin-bottom: 40px;
}
.job-list-summary {
    background: #f8f8f8;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    padding: 12px 20px;
    overflow: hidden;
    margin: 0px -25px;
}
.job-list-summary li {
    color: #333;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}
.job-list-summary li i {
    color: #33475b;
    margin-right: 10px;
    font-size: 17px;
}
.more-job-lnk{
    background: rgb(235, 1, 15);
    border-radius: 5px;
    border: 1px solid rgb(235, 1, 15);
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
}
.sidebar-left .right-Job {
    margin: 40px 0;
}
.right-Job h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.btn-cv{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(235, 1, 15);
    color: rgb(235, 1, 15) !important;
    padding: 12px 30px;
    text-transform: uppercase;
}
#exampleModalCenter .modal-content {
    background-color: #eef2f4;
    border: 0;
}
.modal-title{
    font-size: 32px;
    font-weight: 700;
}
.content--part-cv {
    padding: 0px 15px;
}
.content--part-cv .form-control {
    position: relative;
    font-size: 14px;
    padding: 14px 16px;
    color: #33475b;
    border: solid 1px rgba(91,107,123,.5);
    font-family: 'Open Sans',sans-serif;
    height: 50px;
    margin-top: 0;
}
.check--label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.upload-cv.upload-field {
    display: flex;
    align-items: center;
}
.upload-cv-text {
    margin-left: 30px;
}
.upload-cv-text p {
    margin-bottom: 0;
    font-size: 13px;
}

label.cv-upload--fill {
    width: 150px;
    position: relative;
    height: 45px;
    border-radius: 30px;
    background-color: #fff;
    color: #33475b;
    border: solid 1px rgba(91,107,123,.5);
    font-family: 'Open Sans',sans-serif;
    padding-left: 15px;
    line-height: 45px;
    cursor: pointer;
    font-size: 16px;
}
.cv-upload--fill span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
label.cv-upload--fill input.cv-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    text-indent: -103px;
    opacity: 0;
}





/* Hide the browser's default checkbox */
.check--label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.check--label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check--label input:checked ~ .checkmark {
  background-color: #eb010f;
    border: 1px solid #b3010c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check--label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check--label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fill-txt_size p{
    font-size: 13px;
}

.submitresum button{
    width: 300px;
    background-color: #eb010f;
    border:1px solid #eb010f;
    color: #fff;
    padding: 12px;

}
/*--------------hiring page------------*/


.hiring-sec p{
    color: rgba(51,71,91,.81);
}
.hire-staff-sec {
    background: url(../images/inner-jo-banner.png) no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-position: bottom center;
    padding-bottom: 60px;
}
span.call-txt {
    font-size: 24px;
    font-weight: 700;
    color: #33475b;
}
.flag-dropdn button img{
    width: 24px;
}

.flag-dropdn button::after{
    vertical-align: middle;
}
.contactnum{
    padding: 0px;
}
.item-linkcont {
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.item-linkcont img {
    max-width: 22px;
    margin-right: 10px;
}  
.change-number .num-tt{
    font-size: 36px;
    color: #33475b;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
}
.hours-txt p {
    font-size: 20px;
    color: rgba(51,71,91,.81);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}

/*----------- Find your local office  -------------------*/
 .find-y-section{
    padding: 30px 0 20px;
    background-color: #eef2f4;
}
.title-find h3{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.local-colum {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #adb5bd;
    border-top: 0;
    height: calc(100% - 50px);
}
.address-bottom-n{
    padding: 25px 25px 15px;
}
.address-bottom-n h4{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}
.address-bottom-n .address--local{
    text-align: left;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Lato,sans-serif;
}
.address--local{
    display: flex;
}
.address--local span:first-child{
    font-size: 21px;
    display: inline-block;
    margin-right: 10px;
}
.address--local span a{
    font-weight: 700;
    color: rgb(51, 71, 91);
}
.global-btn{
    color: #eb010f;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.detail-section-wid{
    background: url(../images/gray-bg.png) no-repeat;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10px;
    margin-bottom: 30px;
}
.detail-title h2{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.senn-box-cv {
    font-family: "Open Sans",sans-serif;
    max-width: 600px;
    background-color: #eef2f4;
    -webkit-box-shadow: 0 12px 21px 0 rgba(179,179,179,.5);
    box-shadow: 0 12px 21px 0 rgba(179,179,179,.5);
    padding: 30px;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.submitdetail button{
    background-color: #eb010f;
    border: 1px solid #eb010f;
    color: #fff;
    padding: 12px 30px;
    font-weight: 700;
}
.content--part-cv .form-group {
    margin-bottom: 2rem;
}
.btn-text-link{
    height: 33px;
    color: #FFF;
    padding: 0px 15px;
    border: 1px #2D6FA8 solid;
    border-radius: 3px;
    font-size: 12px;
    position: relative;
    background: #79adcb;
    background: -webkit-linear-gradient(top, #79adcb 15%, #2373ac 100%);
    background: linear-gradient(to bottom, #79adcb 15%, #2373ac 100%);
}
.field--input span{
    font-size: 13px;
}
/* The container */
.radio-btn {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}

/* Hide the browser's default radio button */
.radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-btn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: solid 1px #5b6b7b80;
}

/* On mouse-over, add a grey background color */
.radio-btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-btn input:checked ~ .checkmark {
  background-color: #eb010f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-btn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-btn .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}
.privc-state{
    padding-top: 30px;
}
.privc-state a{
    font-size: 16px;
    font-weight: 700;
    color: #33475b;
    display: inline-block;
}
/*---------contact us---------*/
.contact-box-ab{
    margin-top: -100px;
}
/*------*/
/*---------------------------------------14-07-2020---------------------------------------*/
.bg-blue-l{
    background-color: #f0f2f7;
}
.internal-head{
    font-size: 40px;
    font-weight: 700;
}
.scnd-title{
    font-size: 32px;
    font-weight: 700;
}
.dic--m-tag{
    margin: 30px 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.how-hel-div {
    float: right;
    max-width: 570px;
    padding: 80px 0px;
}
.hub-know {
    background: #eef2f4;
}
.how-hel-div p{
    margin: 30px 0;
}
.help--y img{
    max-height: 440px;
    object-fit: cover;
    width: 100%;
    clip-path: polygon(14% 0%, 100% 0, 100% 100%, 0% 100%);
}
.brand-categ {
    position: absolute;
    font-size: 12px;
    left: 10px;
    top: 10px;
    z-index: 1;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}
.brand-categ ul li {
    background: #fff;
    border-radius: 20px;
    color: #33475b;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-right: 5px;
    list-style: none;
    margin-left: 0;
    float: left;
    margin-bottom: 8px;
}
.corporate-content h5{
    font-size: 24px;
}
.corporate-content p{
    font-size: 18px;
}
.touch--header h3 {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.touch--header p {
    font-size: 15px;
    line-height: normal;
}
.comn-get-touch .form-control{
    position: relative;
    font-size: 14px;
    color: #33475b;
    border: solid 1px rgba(91,107,123,.5);
    font-family: 'Open Sans',sans-serif;
    height: 43px;
}
.option-colum {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.icon-opt {
    float: left;
    width: 60px;
    margin-right: 30px;
}
.optin--txt-f {
    flex: 1;
}

.quoate-sec-test{
    background-size: cover;
    padding-top: 100px;
}
.test-q-m {
    text-align: center;
    max-width: 900px;
    margin: auto;
}
.test-q-m p {
    margin: 30px 0px;
}
.name-fill-pr h5{
    font-size: 16px;
    font-weight: 700;
}
.name-fill-pr span{
    font-size: 16px;
    font-weight: 300;
}




/*-------------- footer section ---------------*/
.footer-section{
    background-color: #454545;
}
.footer-top {
    border-bottom: 1px solid #fff;
}
.touch-text {
    color: #fff;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}
.touch-text {
    color: #fff;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.footer-title{
    font-size: 16px;
    font-weight: 700;
    color: #fff;    
    margin: 16px 0 24px;
}
.list-ft-menu li{
    font-size: 16px;
    padding: 5px 0;
}
.list-ft-menu>li>a{
    color: #fff;
    opacity: .8;
    display: block;
    line-height: 32px;
}
.copy-content{
    background-color: #343434;
    border-top: 1px solid #000;
}
.copywrite{
    float: left; 
    color: #c5c5c5   
}
.footer-btm-link{
    float: left;
    font-size: 14px;
}
.footer-btm-link li{
    line-height: 10px;
    border-right: 1px solid #c5c5c5;
    padding: 0px 10px;
    display: inline-block;
    font-size: 14px;
}
.footer-btm-link li:last-child{
    border-right:none; 
}
.footer-btm-link li a{
    color: #c5c5c5;
}
.social-link-ftr {
    text-align: right;
}
.social-link-ftr li {
    display: inline-block;
    margin: 0px 10px;
}
.social-link-ftr li a{
    color: #fff;
    font-size: 18px;
    display: inline-block;
}

















