	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="">
							<ul class="nav nav-pills navpill-job justify-content-start">
							  <li class="mr-5"><a class="active" data-toggle="pill" href="#job1">All</a></li>
							  <li><a data-toggle="pill" href="#job2">PENDING</a></li>
							</ul>
							<div class="tab-content">
								<div id="job1" class="tab-pane in active">
								    <div class="content0-jobwig">
								    	<div class="card">
											<div class="bottom-cand-job">
												<div class="bottom-top-part">
													<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job">Best Match</h4><p>16 Jul 2020</p></div><div class="new-tag"><span class="mr-3">PENDING</span></div></div>
													<ul>
														<li>Payment Method</li>
														<li class="div-line">|</li>
														<li>Flutterwave</li>
													</ul>
													<ul>
														<li>Reference Number</li>
														<li class="div-line">|</li>
														<li>1594893837</li>
													</ul>
												</div>
												<div class="bottom-btm-part d-flex justify-content-between align-items-center">
													<div class="cred-purch">
														<span class="cicle-23">23</span>
														<span class="">Credits Purchased</span>
													</div>
													<span class="btn-form-job"><button class="btn btn-red btn-height mr-3">View Invoice</button><button class="btn btn-white btn-height">Send Enquiry</button></span>
												</div>
											</div>
										</div>
								    </div>
								</div>
								<div id="job2" class="tab-pane fade">
								    <div class="content0-jobwig">
								    	<div class="card">
											<div class="bottom-cand-job">
												<div class="bottom-top-part">
													<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job">Best Match</h4><p>16 Jul 2020</p></div><div class="new-tag"><span class="mr-3">PENDING</span></div></div>
													<ul>
														<li>Payment Method</li>
														<li class="div-line">|</li>
														<li>Flutterwave</li>
													</ul>
													<ul>
														<li>Reference Number</li>
														<li class="div-line">|</li>
														<li>1594893837</li>
													</ul>
												</div>
												<div class="bottom-btm-part d-flex justify-content-between align-items-center">
													<div class="cred-purch">
														<span class="cicle-23">23</span>
														<span class="">Credits Purchased</span>
													</div>
													<span class="btn-form-job"><button class="btn btn-red btn-height mr-3">View Invoice</button><button class="btn btn-white btn-height">Send Enquiry</button></span>
												</div>
											</div>
										</div>	
								    </div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
	</div>