<div class="wrapper">
    <section class="py-5" style="background: #f8f9fa;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Account Settings</div>
                        <div class="card-body p-0">
                            <div class="account-wraper">
                                <div class="left-navmenu">
                                    <ul class="nav navtab-menu nav-pills">
                                        <li><a class="active" data-toggle="tab" href="#tab1">WHAT'S NEW</a></li>
                                        <li><a data-toggle="tab" href="#tab2">DASHBOARD</a></li>
                                        <li><a data-toggle="tab" href="#tab3">POST A FREE JOB</a></li>
                                        <li><a data-toggle="tab" href="#tab4">JOBS</a></li>
                                        <li><a data-toggle="tab" href="#tab5">CANDIDATE POOLS</a></li>
                                        <li><a data-toggle="tab" href="#tab6">PRODUCTS</a></li>
                                        <li><a data-toggle="tab" href="#tab7">CART</a></li>
                                        <li><a data-toggle="tab" href="#tab8">ORDER HISTORY</a></li>
                                        <li><a data-toggle="tab" href="#tab9">VIEW CREDIT BALANCE</a></li>
                                    </ul>
                                </div>
                                <div class="rightside-profile">
                                    <footer></footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>