
	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="">
							<ul class="nav nav-pills navpill-job">
							  <li><a class="active" data-toggle="pill" href="#job1">All Listings</a></li>
							  <li><a data-toggle="pill" href="#job2">Online</a></li>
							  <li><a data-toggle="pill" href="#job3">Draft</a></li>
							  <li><a data-toggle="pill" href="#job4">Awaiting Approval</a></li>
							  <li><a data-toggle="pill" href="#job5">Banned</a></li>
							  <li><a data-toggle="pill" href="#job6">Offline</a></li>
							</ul>
							<div class="tab-content">
							  <div id="job1" class="tab-pane in active">
							    <div class="content0-jobwig">
							    	<div class="card">
										<div class="card-header">Manage Jobs</div>
										<div class="left-side-filter job-manage-src">
											<span class="kew-src-box"><input type="text" placeholder="Search Job Listings"></span>
											<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
										</div>
										<div class="bottom-cand-job">
											<div class="bottom-top-part">
												<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Web Developer</a></h4></div><div class="new-tag"><span class="mr-3">DRAFT</span> <span>INTERNAL</span></div></div>
												<ul>
													<li>Engineering & Technology</li>
													<li class="div-line">|</li>
													<li>Delta</li>
													<li class="div-line">|</li>
													<li>Expires 1 month from now</li>
												</ul>
												<div class="candid-job">
													<ul class="above--list12">
														<li><span>0</span>Candidates</li>
														<li><span>0</span>Viewed</li>
														<li><span>0</span>In Review</li>
														<li><span>0</span>Shortlisted</li>
														<li><span>0</span>Hired</li>
														<li><span>0</span>Not Suitable</li>
													</ul>
												</div>
											</div>
											<div class="bottom-btm-part">
												<span class="btn-form-job"><button class="btn btn-white btn-height"><i class="fa fa-eye" aria-hidden="true"></i> <span>0</span> View</button></span>
											</div>
										</div>
									</div>
									<div class="pagination-row">
										 <ul class="pagination page-link-next">
										    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
										    <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
										    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
										    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
										  </ul>
									</div>
							    </div>
							  </div>
							  <div id="job2" class="tab-pane fade">
							    <div class="content0-jobwig">
							    	<div class="card">
										<div class="card-header">Manage Jobs</div>
										<div class="left-side-filter job-manage-src">
											<span class="kew-src-box"><input type="text" placeholder="Search Job Listings"></span>
											<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
										</div>
									</div>
									<div class="manage-sectbox">
										<h5 class="title-32">Hi There!</h5>
										<p>We could not find what you are looking for.</p>
										<div class="manage-img">
											<img src="images/no-results.png">
										</div>
										<div class="mange-btn">
											<a href="#" class="btn btn-red text-uppercase">Manage Jobs</a>
										</div>
									</div>
							    </div>
							  </div>
							  <div id="job3" class="tab-pane fade">
							    <div class="content0-jobwig">
							    	<div class="card">
										<div class="card-header">Manage Jobs</div>
										<div class="left-side-filter job-manage-src">
											<span class="kew-src-box"><input type="text" placeholder="Search Job Listings"></span>
											<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
										</div>
										<div class="bottom-cand-job">
											<div class="bottom-top-part">
												<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Web Developer</a></h4></div><div class="new-tag"><span class="mr-3">DRAFT</span> <span>INTERNAL</span></div></div>
												<ul>
													<li>Engineering & Technology</li>
													<li class="div-line">|</li>
													<li>Delta</li>
													<li class="div-line">|</li>
													<li>Expires 1 month from now</li>
												</ul>
												<div class="candid-job">
													<ul class="above--list12">
														<li><span>0</span>Candidates</li>
														<li><span>0</span>Viewed</li>
														<li><span>0</span>In Review</li>
														<li><span>0</span>Shortlisted</li>
														<li><span>0</span>Hired</li>
														<li><span>0</span>Not Suitable</li>
													</ul>
												</div>
											</div>
											<div class="bottom-btm-part">
												<span class="btn-form-job"><button class="btn btn-white btn-height"><i class="fa fa-eye" aria-hidden="true"></i> <span>0</span> View</button></span>
											</div>
										</div>
									</div>
									<div class="pagination-row">
										 <ul class="pagination page-link-next">
										    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
										    <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
										    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
										    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
										  </ul>
									</div>
							    </div>
							  </div>
							  <div id="job4" class="tab-pane fade">
							    <div class="content0-jobwig">
							    	<div class="card">
										<div class="card-header">Manage Jobs</div>
										<div class="left-side-filter job-manage-src">
											<span class="kew-src-box"><input type="text" placeholder="Search Job Listings"></span>
											<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
										</div>
									</div>
									<div class="manage-sectbox">
										<h5 class="title-32">Hi There!</h5>
										<p>We could not find what you are looking for.</p>
										<div class="manage-img">
											<img src="images/no-results.png">
										</div>
										<div class="mange-btn">
											<a href="#" class="btn btn-red text-uppercase">Manage Jobs</a>
										</div>
									</div>
							    </div>
							  </div>
							  <div id="job5" class="tab-pane fade">
							    <div class="content0-jobwig">
							    	<div class="card">
										<div class="card-header">Manage Jobs</div>
										<div class="left-side-filter job-manage-src">
											<span class="kew-src-box"><input type="text" placeholder="Search Job Listings"></span>
											<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
										</div>
									</div>
									<div class="manage-sectbox">
										<h5 class="title-32">Hi There!</h5>
										<p>We could not find what you are looking for.</p>
										<div class="manage-img">
											<img src="images/no-results.png">
										</div>
										<div class="mange-btn">
											<a href="#" class="btn btn-red text-uppercase">Manage Jobs</a>
										</div>
									</div>
							    </div>
							  </div>
							  <div id="job6" class="tab-pane fade">
							    <div class="content0-jobwig">
							    	<div class="card">
										<div class="card-header">Manage Jobs</div>
										<div class="left-side-filter job-manage-src">
											<span class="kew-src-box"><input type="text" placeholder="Search Job Listings"></span>
											<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
										</div>
									</div>
									<div class="manage-sectbox">
										<h5 class="title-32">Hi There!</h5>
										<p>We could not find what you are looking for.</p>
										<div class="manage-img">
											<img src="images/no-results.png">
										</div>
										<div class="mange-btn">
											<a href="#" class="btn btn-red text-uppercase">Manage Jobs</a>
										</div>
									</div>
							    </div>
							  </div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</div>