
	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">Candidate Pools</div>
							<div class="cand-job">
								<div class="cnd-j-1 comn-fill-dd"><p>This is your Candidate Pool Area, create candidate pools to group candidates as required.</p></div>
								<div class="cnd-j-2 comn-fill-dd"><button class="btn btn-red btn-height">Create candidate pool</button></div>
							</div>
							<div class="bottom-cand-job">
								<div class="bottom-top-part">
									<h5>Web Developer</h5>
									<ul>
										<li>0 Candidate</li>
										<li class="div-line">|</li>
										<li>16 Jul 2020</li>
									</ul>
								</div>
								<div class="bottom-btm-part">
									<span class="btn-form-job"><button class="btn btn-red btn-height"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button></span>
									<span class="btn-form-job"><button class="btn btn-white btn-height"><i class="fa fa-eye" aria-hidden="true"></i> View</button></span>
								</div>
							</div>
						</div>
						<div class="pagination-row">
							 <ul class="pagination page-link-next">
							    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
							    <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
							    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
							    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
							  </ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>