<!-- <div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-2"></div>
                <div class="col-lg-4 col-sm-4 mr-auto ml-auto mt-2">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                           Job Seeker
                        </div>
                        <div>
                            Are you looking for your dream job? Create a unique career profile with Portrec
                        </div>
                        <a href="#/jobseekersignup" class="btn btn-danger btn-block btn-round">JOB SEEKER SIGN UP</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 mr-auto ml-auto mt-2">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                            Employer
                        </div>
                        <div>Are you looking for quality candidates?
                            Advertise and search with Portrec
                        </div>
                            <a href="#/employersignup"class="btn btn-danger btn-block btn-round">EMPLOYER SIGN UP</a>
                        
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2"></div>
            </div>
        </div>
    </div>
</div> -->

<div class="wrapper">
    <div class="main-header-section">
        <div class="top-head">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="language">
                            <div class="dropdown-locate d-flex align-items-center justify-content-end">
                                <span class="text-loc mr-2">Choose Location</span>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="locat-m"> Global </span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="mt-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"
                style="background-color: transparent !important;">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/images/picturemessage_j1toqfwj.png" height="60px" width="150px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto align-items-center">
                            <li class="nav-item dropdown menu-link-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    EMPLOYERS
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" style="">
                                        <a href="#">VIDEO CONFERENCING</a>
                                    </li>
                                    <li class="dropdown-item" style="">
                                        <a href="#">EXPERTISE</a>
                                    </li>
                                    <li class="dropdown-item" style="">
                                        <a href="#">WHY US</a>
                                    </li>
                                    <li class="dropdown-item" style="">
                                        <a href="#">PRICING</a>
                                    </li>
                                    <li class="dropdown-item" style="">
                                        <a href="#">SERVICES</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item menu-link-item">
                                <a class="nav-link" href="#">JOBSEEKERS</a>
                            </li>
                            <li class="nav-item menu-link-item">
                                <a class="nav-link" href="#">LATEST INSIGHTS AND ADVICE</a>
                            </li>
                            <li class="nav-item menu-link-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item menu-link-item">
                                <a class="nav-link src-icon double" href="javascript:void(0);"><i class="fa fa-search"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item menu-link-item">
                                <a class="nav-link" href="#/signup"><span class="btn"
                                        style="background-color: red;color: #fff;">Start Hiring</span></a>
                            </li>
                            <li class="nav-item menu-link-item">
                                <a class="nav-link" href="#/job"><span class="btn"
                                        style="background-color: white;color: red;border: 1px solid rgb(235, 1, 15);">Find
                                        a Job</span></a>
                            </li>
                        </ul>
                        <!-- <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                    </div>
                </div>
            </nav>
            <div class="search-form src--frmt">
                <div class="container">
                    <div class="close-src-frm"><button class="double btn"><i class="fa fa-times"
                                aria-hidden="true"></i></button></div>
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <div class="form-js-wig">
                                <form>
                                    <div class="form-group form-row mb-0">
                                        <div class="src-form-comn form-type-1">
                                            <input type="text" name="" class="form-control"
                                                placeholder="What are you looking for...">
                                        </div>
                                        <div class="src-form-comn form-type-2">
                                            <select class="form-control">
                                                <option>All Sections</option>
                                                <option>Advice & Tips</option>
                                                <option>Events</option>
                                                <option>News</option>
                                            </select>
                                        </div>
                                        <div class="src-form-comn form-type-3">
                                            <button type="submit" class="btn btn-top-src"><i class="fa fa-search"
                                                    aria-hidden="true"></i>Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <section class="hire-staff-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header hiring-sec">
                        <h1 class="title-head">Looking to hire new staff?</h1>
                        <h3>Free Consultation - Talk to the Recruitment Experts</h3>
                        <p>Our contingent recruitment services are based on a no appointment no fee basis meaning you
                            only pay for our recruitment services if we find the right person and they are placed in
                            your business.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="Call-us">
                        <div class="d-flex justify-content-center align-items-center whole-number-fillup">
                            <span class="call-txt">Call us:</span>
                            <span class="dropdown flag-dropdn">
                                <button class=" dropdown-toggle" type="button" id="contactnum" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="border-color: transparent;"><img
                                        src="../../../assets/icon/flag-icon-1.jpg"></button>
                                <ul class="dropdown-menu contactnum">
                                    <li class="dropdown-item item-linkcont"><img
                                            src="../../../assets/icon/flag-icon-1.jpg"> Australia</li>
                                    <li class="dropdown-item item-linkcont"><img
                                            src="../../../assets/icon/flag-icon-1.jpg">Singapore</li>
                                    <li class="dropdown-item item-linkcont"><img
                                            src="../../../assets/icon/flag-icon-1.jpg">United KingDom</li>
                                </ul>
                            </span>
                            <span class="change-number"><a href="#" class="num-tt">+351 1 5225 444</a></span>
                        </div>
                        <div class="hours-txt text-center">
                            <p>Opening hours: 09:00am - 17:30pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail-section-wid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="detail-title">
                        <h2>Your Details</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="senn-box-cv">
                        <div class="content--part-cv">
                            <form class="register-form" (ngSubmit)="postJob(forms)">
                                <div class="form-group form-row">
                                    <div class="col-12">
                                        <div class="field--input">
                                            <button type="button" class="btn-text-link">Sign in with
                                                <strong>LinkedIn</strong></button>
                                            <br>
                                            <span>AutoFill your information</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-12">
                                        <div class="field--input">
                                            <select class="form-control controler-fill" name="type" [(ngModel)]="forms.type" required>
                                                <option>What are you looking for?</option>
                                                <option>Looking to hire new people</option>
                                                <option>Looking for job opportunity</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="First Name"
                                                name="firstName" [(ngModel)]="forms.firstName" required minlength="3"
                                                maxlength="30" #firstName="ngModel">
                                        </div>

                                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="firstName.errors.required">
                                                First Name is required.
                                            </div>
                                            <div *ngIf="firstName.errors.minlength">
                                                First Name cannot be more than 30 characters long.
                                            </div>
                                            <div *ngIf="firstName.errors.minlength">
                                                First Name must be at least 2 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Last Name"
                                                name="lastName" [(ngModel)]="forms.lastName" required minlength="3"
                                                maxlength="30" #lastName="ngModel">
                                        </div>

                                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="lastName.errors.required">
                                                Last Name is required.
                                            </div>
                                            <div *ngIf="lastName.errors.minlength">
                                                Last Name cannot be more than 30 characters long.
                                            </div>
                                            <div *ngIf="lastName.errors.minlength">
                                                Last Name must be at least 2 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Email" name="email"
                                                [(ngModel)]="forms.email" required #email="ngModel">
                                        </div>
                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="email.errors.required">
                                                Email address is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Phone" name="phone"
                                                [(ngModel)]="forms.phone" required #phone="ngModel">
                                        </div>
                                        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="phone.errors.required">
                                                Contact Nember is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control controler-fill"
                                                placeholder="Company Name" name="companyName" [(ngModel)]="forms.companyName"
                                                required #companyName="ngModel">
                                        </div>
                                        <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="companyName.errors.required">
                                                Company Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <select class="form-control controler-fill" name="companyType" [(ngModel)]="forms.companyType"
                                            required>
                                                <option>Industry</option>
                                                <option>IT</option>
                                                <option>Legal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <select class="form-control controler-fill" name="numOfEmp" [(ngModel)]="forms.numOfEmp"
                                            required>
                                                <option>No. of Employees</option>
                                                <option>1-249 Employees</option>
                                                <option>249-400 Employees</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control controler-fill"
                                                placeholder="Position you are hiring for" name="jobType" [(ngModel)]="forms.jobType" required #jobType="ngModel">
                                        </div>
                                        <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="companyName.errors.required">
                                                Company Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row form-group fill-txt_size">
                                    <div class="col-12">
                                        <div class="check-box-fill d-flex">
                                            <label class="check--label">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                            <p>I consent to Morgan McKinley processing my personal information in
                                                accordance with the Morgan McKinley <a href="#" target="_blank">Privacy
                                                    Statement</a> </p>
                                        </div>
                                        <p>Do you want to hear about the latest recruitment insights, salary guides and
                                            professional networking events that are relevant to you?</p>
                                    </div>
                                </div>
                                <div class="form-row form-group radio-fillup">
                                    <div class="col-12">
                                        <span>
                                            <label class="radio-btn">No
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </span>
                                        <span>
                                            <label class="radio-btn">Yes
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-row fill-txt_size">
                                    <div class="col-12">
                                        <div class="submitdetail text-center">
                                            <button type="submit" class="btn">SUBMIT</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="privc-state text-center"><a href="#" target="_blank">Privacy Statement</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="find-y-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-find">
                        <h3>Find your local office</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3">
                    <div class="local-colum">
                        <div class="local-img"><img src="../../../assets/images/contact-img-1.png"></div>
                        <div class="address-bottom-n">
                            <h4 class="heading--local">Australia</h4>
                            <p class="address--local">
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span>Level 9, 383 Kent
                                    Street, Sydney, NSW 2000</span></p>
                            <p class="address--local"><span><i class="fa fa-phone"
                                        aria-hidden="true"></i></span><span><a href="tel:61 2 8986 3100">+61 2 8986
                                        3100</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="local-colum">
                        <div class="local-img"><img src="../../../assets/images/contact-img-2.png"></div>
                        <div class="address-bottom-n">
                            <h4 class="heading--local">Canada</h4>
                            <p class="address--local"><span><i class="fa fa-map-marker"
                                        aria-hidden="true"></i></span><span>425 Adelaide St. West, Suite 201, Toronto
                                    M5V 3C1, Canada</span></p>
                            <p class="address--local"><span><i class="fa fa-phone"
                                        aria-hidden="true"></i></span><span><a href="tel:16474790155">+1 (647) 4790
                                        155</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="local-colum">
                        <div class="local-img"><img src="../../../assets/images/contact-img-3.png"></div>
                        <div class="address-bottom-n">
                            <h4 class="heading--local">Hong Kong</h4>
                            <p class="address--local"><span><i class="fa fa-map-marker"
                                        aria-hidden="true"></i></span>Suite 3407, Lippo Centre, Tower II, 89 Queensway,
                                Admiralty, Hong Kong<span></span></p>
                            <p class="address--local"><span><i class="fa fa-phone"
                                        aria-hidden="true"></i></span><span><a href="tel:85239073907">+852 3907
                                        3907</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="local-colum">
                        <div class="local-img"><img src="../../../assets/images/contact-img-4.png"></div>
                        <div class="address-bottom-n">
                            <h4 class="heading--local">Ireland - Dublin</h4>
                            <p class="address--local"><span><i class="fa fa-map-marker"
                                        aria-hidden="true"></i></span><span>Connaught House, Number One Burlington Rd,
                                    Dublin 4, D04 C5Y6</span></p>
                            <p class="address--local"><span><i class="fa fa-phone"
                                        aria-hidden="true"></i></span><span><a href="tel:35314485660">+353 1
                                        4485660</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="local-colum">
                        <div class="local-img"><img src="../../../assets/images/contact-img-5.png"></div>
                        <div class="address-bottom-n">
                            <h4 class="heading--local">UK - London</h4>
                            <p class="address--local"><span><i class="fa fa-map-marker"
                                        aria-hidden="true"></i></span><span>61 Aldwych, London WC2B 4AE</span></p>
                            <p class="address--local"><span><i class="fa fa-phone"
                                        aria-hidden="true"></i></span><span><a href="tel:442070920127">+44 20
                                        70920127</a><a href="tel:442070920157">+44 20 70920157</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <a class="btn global-btn" href="#" style="color: #eb010f;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 700;background-color: transparent;border-color: transparent;">See our full list of
                            global offices <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 beyond-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="beyon-sec">
                        <h3>TOGETHER WE WILL GO BEYOND</h3>
                        <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="job-bd">
                        <a class="btn" href="#/signup"> START HIRING</a>
                        <a class="btn" href="#/job">FIND A JOB</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section">
        <div class="container">
            <div class="footer-top mb-4">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-lg-3">
                        <h5 class="footer-logo"><img src="../../../assets/images/picturemessage_j1toqfwj.png"
                                height="60px" width="150px"></h5>
                    </div>
                    <div class="col-md-9">
                        <p class="text-right touch-text">Get in touch with us today and let us find your perfect
                            candidates</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-middle">
                        <h5 class="footer-title">Why Us</h5>
                        <ul class="list-ft-menu">
                            <li><a href="#">Why Morgan McKinley</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">How We Discover Your Talent</a></li>
                            <li><a href="#">CSR</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-middle">
                        <h5 class="footer-title">Our Services</h5>
                        <ul class="list-ft-menu">
                            <li><a href="#">Permanent Recruitment</a></li>
                            <li><a href="#">Contract Recruitment</a></li>
                            <li><a href="#">Outsourcing &amp; Managed Services</a></li>
                            <li><a href="#">Consulting and Change Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-middle">
                        <h5 class="footer-title">Our Expertise</h5>
                        <ul class="list-ft-menu">
                            <li><a href="#">Accountancy &amp; Finance Recruitment</a></li>
                            <li><a href="#">Administration, Customer Support, Multilingual</a></li>
                            <li><a href="#">Banking, Financial Services, Insurance &amp; Funds</a></li>
                            <li><a href="#">Digital</a></li>
                            <li><a href="#">Healthcare Recruitment Services</a></li>
                            <li><a href="#">Human Resources</a></li>
                            <li><a href="#">IT Recruitment</a></li>
                            <li><a href="#">Legal, Risk, Compliance and Audit</a></li>
                            <li><a href="#">Project, Transformation &amp; Consulting</a></li>
                            <li><a href="#">Sales &amp; Marketing</a></li>
                            <li><a href="#">Strategy &amp; Transformation</a></li>
                            <li><a href="#">Supply Chain &amp; Procurement</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-middle">
                        <h5 class="footer-title">Latest insights and advice</h5>
                        <ul class="list-ft-menu">
                            <li><a href="#">Advice &amp; Tips</a></li>
                            <li><a href="#">Salary Guides</a></li>
                            <li><a href="" ef="#">Job Description Templates</a></li>
                            <li><a href="#">Recruitment Insights</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#/signup" class="btn">Start Hiring</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-content py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="copywrite">
                                © Morgan McKinley 2020
                            </div>
                            <ul class="footer-btm-link">
                                <li><a href="#" target="_blank">Privacy Statement</a></li>
                                <li><a href="#" target="_blank">Cookies Policy</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="social-link-ftr">
                            <li>
                                <a class="tw-ic" href="#" target="_blank" data-ol-has-click-handler=""><i
                                        class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="li-ic" href="#" target="_blank" data-ol-has-click-handler=""><i
                                        class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="yu-ic" href="#" target="_blank" data-ol-has-click-handler=""><i
                                        class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fb-ic" href="#" target="_blank" data-ol-has-click-handler=""><i
                                        class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>