
		<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header hiring-sec">
							<h1 class="title-head">Digital</h1>
							<p>Digital is changing how you work and how indeed how you engage with our customers too. Finding digital solutions to business problems is part of everyday business life and with the right people onboard, you can design, build and deliver digital strategies and platforms from within. As your digital recruitment partner, we’ll help you discover the talent you need to make your mark in the digital age.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-l">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">How we can help you</h2>
							<p>With everybody competing for the same talent, our specialist knowledge in key aspects of the digital world means we’ve got the edge when it comes to helping you discover the talent you need. This expertise-driven approach combined with a complete understanding of the digital function in today’s workplace makes us the recruitment partner you can depend on in this fast-moving area.</p>
							<div class="inter-more">
								<a href="#" class="btn-white btn">GET IN TOUCH</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y">
							<img src="images/Digital-img.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>