
		<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header hiring-sec">
							<h1 class="title-head">Contract Recruitment</h1>
							<h4>CONTRACT RECRUITMENT THAT COVERS YOU…NO MATTER WHAT</h4>
							<p>You just never know what’s around the next corner. And when the pressure is on, and you need to complete a project, replace a leaver, manage holidays or maternity cover, we’re right here. Whether you’re thinking ahead or simply require good people right now, you’ve come to the right place…</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp py-5">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="img-sepc">
							<img src="images/contrac-r.png">
						</div>
					</div>
					<div class="col-md-6">
						<div class="spe-disc-m">
							<h2 class="internal-head">Your Contract and Temp Specialists</h2>
							<p class="dic--m-tag">For all sectors and roles, if you need us to, we’ll make the right choices quickly and we can then iron out the details and plan your needs with the future in mind. And from current legislation to working practices and in-house styles, our specialist consultants will know your sector or industry.</p>
							<div class="inter-more">
								<a href="#" class="btn-red btn">FIND TALENT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-l">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">How we can help you</h2>
							<p>For all sectors and roles, if you need us to, we’ll make the right choices quickly and we can then iron out the details and plan your needs with the future in mind. And from current legislation to working practices and in-house styles, our specialist consultants will know your sector or industry.</p>
							<div class="inter-more">
								<a href="#" class="btn-white btn">GET IN TOUCH</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y">
							<img src="images/img-go.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="advice-section hub-know">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="advice-title">
							<h3>Latest Insights and Advice</h3>
							<p>Our latest insights and advice contains a wide range of resources, advice & tips,recruitment insights and access to local & global salary guides.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-4">
						<div class="tip-col-md">
								<div class="img-ad-box">
									<a href="#"><img src="images/workingremotely.jpg"></a>
									<div class="brand-categ"><ul><li>Global</li><li>Advice &amp; Tips</li></ul></div>
								</div>
							<div class="bottom-advice">
								<h4 class="txt-ad-mg"><a href="#" class="ad-link-ht">Working Remotely: When virtual meetings and</a></h4>
								<p>Working remotely: Our guide to success The workforce of today is fortunate enough to have access to a plethora of tools which enable communication</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="tip-col-md">
								<div class="img-ad-box">
									<a href="#"><img src="images/stressing.jpg"></a>
									<div class="brand-categ"><ul><li>Global</li><li>Advice &amp; Tips</li></ul></div>
								</div>
							<div class="bottom-advice">
								<h4 class="txt-ad-mg"><a href="#" class="ad-link-ht">Fail fast: how NOT to hire your next strategy</a></h4>
								<p>We all know that culture eats strategy for breakfast. But what you might not know is that it also devours case studies, consumes psychometric testing,…</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="tip-col-md">
								<div class="img-ad-box">
									<a href="#"><img src="images/success.jpg"></a>
									<div class="brand-categ"><ul><li>Global</li><li>News</li></ul></div>
								</div>
							<div class="bottom-advice">
								<h4 class="txt-ad-mg"><a href="#" class="ad-link-ht">Portrec wins big at Best Places to</a></h4>
								<p>Portrec has been named one of Australia’s Best Places to Work, announced at the Great Place to Work Australia awards ceremony.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="text-center view-all-advice">
							<a class="btn global-btn" href="#">BROWSE LATEST INSIGHTS AND ADVICE <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>