<div class="wrapper">
    <section class="py-5" style="background: #f8f9fa;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card dash-bg">
                        <div class="card-body-row1">
                            <div class="box-dash-top">
                                <div class="dash-1-p">
                                    <span class="dash-prof-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                </div>
                                <div class="dash-2-p">
                                    <h5>Asworld</h5>
                                    <p>A-46, shahpura, manish market bhopal, mp 462042</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card--compact">
                        <div class="dash-post">
                            <h3>POST A JOB</h3>
                            <span><a href="#" class="btn btn-white btn-height">Update Profile</a></span>
                        </div>
                    </div>
                    <div class="card card--compact">
                        <div class="card-body">
                            <div class="own-box">
                                <h6>Products You Currently Own</h6>
                                <ul>
                                    <li><span class="own-list1">Job Listings</span><span class="own-list2">0</span></li>
                                    <li><span class="own-list1">Job Boost</span><span class="own-list2">0</span></li>
                                    <li><span class="own-list1">Assessments</span><span class="own-list2">0</span></li>
                                </ul>
                                <div class="view-bal text-center">
                                    <a href="#" class="btn btn-height btn-white">VIEW CREDIT BALANCE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-clc-box card--compact">
                        <div class="card-header">Updates</div>
                        <div class="card-body">
                            <div class="update-sec middle-body-sec">
                                <p><b>Good day adarsh singh</b></p>
                                <p>You currently have no activity on your job listings…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-clc-box card--compact">
                        <div class="card-header">Tooltips of the Week</div>
                        <div class="card-body">
                            <div class="tooltips-cont middle-body-sec">
                                <ul class="list-tooltip">
                                    <li>Manage your candidates in <span class="text-color">Candidate Pools</span>. <br>A Candidate Pool is a group of seekers you create.</li>
                                     <li>Create pools of candidates you can reference for current and future listings.</li>
                                    <li>Manage your candidates by emailing, reviewing, shortlisting and hiring.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-clc-box card--compact">
                        <div class="card-body">
                            <div class="thee-colm-eql">
                                <span class="eq-jb-txt">JOBS</span>
                                <h5 class="eq-title-1">1</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-clc-box card--compact">
                        <div class="card-body">
                            <div class="thee-colm-eql">
                                <span class="eq-jb-txt">APPLICATIONS</span>
                                <h5 class="eq-title-1">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card card-clc-box card--compact">
                        <div class="card-body">
                            <div class="thee-colm-eql">
                                <span class="eq-jb-txt">VIEWS</span>
                                <h5 class="eq-title-1">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>