<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Welcome</h3>
                          <div class="social-line text-center">
                             Please Enter Email To Update Password
                          </div>
                          <form class="register-form" (ngSubmit)="forgetPassword()">
                              <label>Email</label>
                              <div class="input-group form-group-no-border">

                                  <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="forms.email">
                              </div>
                              <input type="Submit" value="Submit" class="btn btn-danger btn-block btn-round">
                          </form>
                          <div class="forgot">
                              <a href="#/login" class="btn btn-link btn-danger">Login</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
