<section class="hire-staff-sec">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header section-header-2 hiring-sec">
							<h1 class="title-head">Healthcare Recruitment Services</h1>
							<p>We have been providing clinical and non-clinical resources to the healthcare sector since 2011. We specialise in the overseas recruitment of nurses from our global services centre in India</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="d-flex flex-wrap mt-5">
							<div class="col-md-8">
								<h3 class="title-32 mb-4">Our Footprint in India</h3>
								<p>We are the first and one of the only recruitment agencies in Ireland that has offices in India, we are better placed therefore to source, recruit and support relocation of the best candidates. This on the ground presence has allowed us to develop previously untapped clinical networks enabling unique access to the highest quality nursing talent.</p>
							</div>
							<div class="col-md-4">
								<img src="images/fill-img.png">
							</div>
						</div>
						<div class="our-field-below">
							<h3 class="title-32 mb-4">Our Compliance Teams</h3>
							<p>We understand that relocating to a new country is a daunting task. Our dedicated compliance teams work with the candidate every step of the way from English language test preparation, nursing registration and visa application right through to all aspects of relocation. We keep in close contact with our hospitals to ensure they have regular updates of their new nurses’ progression.</p>
						</div>
						<div class="our-field-below">
							<h3 class="title-32 mb-4">Our Reputation</h3>
							<p>For the past 30 years the Morgan McKinley team have been going above and beyond to source the right candidates for your needs. We pride ourselves on prioritising quality in all aspects of our service and our processes are built to take the stress out of sourcing for our candidates and ultimately our clients.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="senn-box-cv p-3">
				        	<div class="comn-get-touch">
				        		<div class="touch--header">
					        		<h3>Get In Touch</h3>
					        		<p>Fill in your details in the form below and we will be in touch to discuss your hiring needs!</p>
					        	</div>
				        		<form action="">
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<button type="button" class="btn-text-link">Sign in with <strong>LinkedIn</strong></button>
				        						<br>
				        						<span>AutoFill your information</span>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<select class="form-control controler-fill">
				        							<option>What are you looking for?</option>
				        							<option>Looking to hire new people</option>
				        							<option>Looking for job opportunity</option>
				        						</select>
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="First Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="text" class="form-control controler-fill" placeholder="Last Name" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="email" class="form-control controler-fill" placeholder="Email Address" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-group form-row">
				        				<div class="col-12">
				        					<div class="field--input">
				        						<input type="number" class="form-control controler-fill" placeholder="Phone Number" name="">
				        					</div>
				        				</div>
				        			</div>
				        			<div class="form-row form-group fill-txt_size">
				        				<div class="col-12">
				        					<div class="check-box-fill d-flex">
				        						<label class="check--label">
				        							<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
				        						</label>
				        						<p>I consent to Morgan McKinley processing my personal information in accordance with the Morgan McKinley <a href="#" target="_blank">Privacy Statement</a> </p>
				        					</div>
				        					<p>Do you want to hear about the latest recruitment insights, salary guides and professional networking events that are relevant to you?</p>
				        				</div>
				        			</div>
				        			<div class="form-row form-group radio-fillup">
				        				<div class="col-12">
				        					<span>
					        					<label class="radio-btn">No
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
											<span>
												<label class="radio-btn">Yes
												  <input type="radio" checked="checked" name="radio">
												  <span class="checkmark"></span>
												</label>
											</span>
				        				</div>
				        			</div>
				        			<div class="form-row fill-txt_size">
				        				<div class="col-12">
				        					<div class="submitdetail text-center">
				        						<button type="submit" class="btn">SUBMIT</button>
				        					</div>
				        				</div>
				        			</div>
				        		</form>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-5 why-sec0-colm">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="insure--mck text-center mb-5">
							<h3 class="internal-head">Offerings for Employers</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="col-tt-m">
							<span class="img-whh-col"><img src="images/offering-1.png"></span>
							<h4 class="title-m-why">Experienced Consultants</h4>
							<p>Our consultants have extensive experience delivering talent to the healthcare sector, working with numerous clients in Ireland since 2011.</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="col-tt-m">
							<span class="img-whh-col"><img src="images/offering-2.png"></span>
							<h4 class="title-m-why">Our Expertise</h4>
							<p>Our team has extensive experience delivering talent to the public and private healthcare sector. We have developed a deep understanding of the challenges and requirements of resourcing in clinical environments and how to ensure we offer a different and better service to our clients.</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="col-tt-m">
							<span class="img-whh-col"><img src="images/offering-3.png"></span>
							<h4 class="title-m-why">Top Nursing Talent</h4>
							<p>We source the most sought after and qualified candidates in the market. Our trained professional nurses are diligent, hardworking and caring professionals who are passionate about delivering the best health care possible.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="detail-section-wid quoate-sec-test pb-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="test-q-m">
							<div class="quate--f"><img src="images/quote.png"></div>
			        		<p>Morgan McKinley’s Accounting and Finance team has been a valuable recruitment partner. I found their insights around the finance market in terms of skills and what other companies are doing in certain roles and structures to be very useful and helpful in compiling competency skill sets for different roles.</p>
			        		<div class="name-fill-pr">
			        			<h5>- Duha Zaater</h5><span>Head of Finance, McDonald's</span>
			        		</div>
			        	</div>
		        	</div>
				</div>
				<div class="row mt-5">
					<div class="col-12 col-md-2">
						<div class="brand-logo"><img src="images/heath-logo-1.png"></div>
					</div>
					<div class="col-12 col-md-2">
						<div class="brand-logo"><img src="images/heath-logo-2.png"></div>
					</div>
					<div class="col-12 col-md-2">
						<div class="brand-logo"><img src="images/heath-logo-3.png"></div>
					</div>
					<div class="col-12 col-md-2">
						<div class="brand-logo"><img src="images/heath-logo-4.png"></div>
					</div>
					<div class="col-12 col-md-2">
						<div class="brand-logo"><img src="images/heath-logo-5.png"></div>
					</div>
					<div class="col-12 col-md-2">
						<div class="brand-logo"><img src="images/heath-logo-6.png"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="contract-temp bg-blue-l">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="spe-disc-m how-hel-div">
							<h2 class="internal-head">Our Case Studies</h2>
							<p>Our team builds strong relationships and have an in-depth knowledge of your specialist area. We understand healthcare and this expertise means that we can match you with the right role in the most appropriate hospital for you. We are proud of our track record in helping nurses through every aspect of the application process relating to international relocation. Read how we engage with existing clients</p>
							<div class="inter-more">
								<a href="#" class="btn-white btn">VIEW CASE STUDY</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="help--y">
							<img src="images/health.jpg">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-4 beyond-section">
		    <div class="container">
		        <div class="row align-items-center">
		            <div class="col-md-6">
		            	<div class="beyon-sec">
			                <h3>TOGETHER WE WILL GO BEYOND</h3>
			                <p>Whether you need to find top talent or your next perfect job opportunity, we can help.</p>
			            </div>
		            </div>
		            <div class="col-md-6">
		                <div class="job-bd">
		                    <a class="btn" href="#"> START HIRING</a>
		                    <a class="btn" href="#">FIND A JOB</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>