
		<footer class="footer-section">
			<div class="container">
				<div class="footer-top mb-4">
					<div class="row py-4 d-flex align-items-center">
					    <div class="col-lg-3">
							<a class="footer-logo" href="#">
								<img src="../../../assets/images/picturemessage_j1toqfwj.png" height="60px" width="150px">
							</a>
					        <!-- <h5 class="footer-logo"><img alt="" src="assets/images/footer-logo.svg" /></h5> -->
					    </div>
					    <div class="col-md-9">
					        <p class="text-right touch-text">Get in touch with us today and let us find your perfect candidates</p>
					    </div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-middle">
						    <h5 class="footer-title">Why Us</h5>
						    <ul class="list-ft-menu">
						        <li><a href="#/why-us">Why Portrec</a></li>
						        <li><a href="#/our-story">Our Story</a></li>
						        <li><a href="#/how-we-discover-your-talent">How We Discover Your Talent</a></li>
						        <li><a href="#/corporate-social-responsibility">CSR</a></li>
						        <li><a href="#/pricing">Pricing</a></li>
						        <li><a href="#">Careers</a></li>
						        <li><a href="#/contact">Contact Us</a></li>
						    </ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-middle">
						    <h5 class="footer-title">Our Services</h5>
						    <ul class="list-ft-menu">
						        <li><a href="#/services/permanent-recruitment">Permanent Recruitment</a></li>
						        <li><a href="#/services/contract-recruitment">Contract Recruitment</a></li>
						        <li><a href="#">Outsourcing &amp; Managed Services</a></li>
						        <li><a href="#">Consulting and Change Management</a></li>
						    </ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-middle">
						    <h5 class="footer-title">Our Expertise</h5>
						    <ul class="list-ft-menu">
						        <li><a href="#experties/accountancy-finance-recruitment">Accountancy &amp; Finance Recruitment</a></li>
						        <li><a href="#experties/administration-multilingual-recruitment">Administration, Customer Support, Multilingual</a></li>
						        <li><a href="#experties/banking-financial-insurance-recruitment">Banking, Financial Services, Insurance &amp; Funds</a></li>
						        <li><a href="#experties/digital-recruitment">Digital</a></li>
						        <li><a href="#experties/healthcare-recruitment-services">Healthcare Recruitment Services</a></li>
						        <li><a href="#experties/hr-recruitment">Human Resources</a></li>
						        <li><a href="#experties/it-recruitment">IT Recruitment</a></li>
						        <li><a href="#experties/legal-risk-audit-recruitment">Legal, Risk, Compliance and Audit</a></li>
						        <li><a href="#experties/Project-Transformation-consulting-recruitment">Project, Transformation &amp; Consulting</a></li>
						        <li><a href="#experties/sales-marketing-recruitment">Sales &amp; Marketing</a></li>
						        <li><a href="#experties/strategy-transformation-recruitment">Strategy &amp; Transformation</a></li>
						        <li><a href="#experties/supply-chain-procurement-recruitment">Supply Chain &amp; Procurement</a></li>
						    </ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-middle">
						    <h5 class="footer-title">Latest insights and advice</h5>
						    <ul class="list-ft-menu">
						        <li><a href="#/latest-insights-and-advice/advice-tips">Advice &amp; Tips</a></li>
						        <li><a href="#/salary-guides">Salary Guides</a></li>
						        <li><a href="#/job-description-templates">Job Description Templates</a></li>
						        <li><a href="#/latest-insights-and-advice/recruitment-insights">Recruitment Insights</a></li>
						        <li><a href="#/latest-insights-and-advice/latest-news">News</a></li>
						        <li><a href="#/latest-insights-and-advice/events">Events</a></li>
						        <li><a href="#/signup">Start Hiring</a></li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-content py-4">
				<div class="container">
					<div class="row align-items-center">
					    <div class="col-md-8">
					    	<div class="d-flex flex-wrap align-items-center">
						        <div class="copywrite">
						            © Portrec 2020
						        </div>
						        <ul class="footer-btm-link">
						            <li><a href="#" target="_blank">Privacy Statement</a></li>
						            <li><a href="#" target="_blank">Cookies Policy</a></li>
						            <li><a href="#">Sitemap</a></li>
						        </ul>
						    </div>
					    </div>
					    <div class="col-md-4">
					    	<ul class="social-link-ftr">
					    		<li>
							        <a class="tw-ic" href="#" target="_blank" data-ol-has-click-handler=""><i class="fa fa-twitter" aria-hidden="true"></i>
							        </a>
							    </li>
							    <li>
							        <a class="li-ic" href="#" target="_blank" data-ol-has-click-handler=""><i class="fa fa-linkedin" aria-hidden="true"></i>
							        </a>
							    </li>
							    <li>
							        <a class="yu-ic" href="#" target="_blank" data-ol-has-click-handler=""><i class="fa fa-youtube-play" aria-hidden="true"></i>
							        </a>
							    </li>
							    <li>
							        <a class="fb-ic" href="#" target="_blank" data-ol-has-click-handler=""><i class="fa fa-facebook" aria-hidden="true"></i>
							        </a>
							    </li>
							</ul>
					    </div>
					</div>
				</div>
			</div>
		</footer>