
	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="card-header">Filter Results</div>
							<div class="left-side-filter">
								<span class="kew-src-box"><input type="text" placeholder="Keywords Search"></span>
								<span class="src-btnfilter"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
							</div>
							<div class="filte-bottm-below">
								<ul class="list--btm-area">
									<li class="asi-fl-tt">
										<span class="colapse-tap">
										  <a class="" data-toggle="collapse" href="#filter1" role="button" aria-expanded="false" aria-controls="filter1">Job Function <span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
										</span>
										<div class="collapse filr0-col"  id="filter1">
											<a class="com0-filter-bx" href="#">
												<div class="fil-rr-1">
											  		<label class="radio-btn">
												  		<input type="radio" checked="checked" name="radio">
													  	<span class="checkmark"></span>
													</label>
												</div>
												<div class="fil-rr-2">
													<span>Accounting, Auditing & Finance</span>
												</div>
												<div class="fil-rr-3">
													<span>1</span>
												</div>
											</a>
										</div>
									</li>
									<li class="asi-fl-tt">
										<span class="colapse-tap">
										  <a class="" data-toggle="collapse" href="#filter2" role="button" aria-expanded="false" aria-controls="filter2">Industry<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
										</span>
										<div class="collapse filr0-col"  id="filter2">
											<a class="com0-filter-bx" href="#">
												<div class="fil-rr-1">
											  		<label class="radio-btn">
												  		<input type="radio" checked="checked" name="radio">
													  	<span class="checkmark"></span>
													</label>
												</div>
												<div class="fil-rr-2">
													<span>Automotive & Aviation</span>
												</div>
												<div class="fil-rr-3">
													<span>1</span>
												</div>
											</a>
										</div>
									</li>
									<li class="asi-fl-tt">
										<span class="colapse-tap">
										  <a class="" data-toggle="collapse" href="#filter3" role="button" aria-expanded="false" aria-controls="filter3">Location<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
										</span>
										<div class="collapse filr0-col"  id="filter3">
											<a class="com0-filter-bx" href="#">
												<div class="fil-rr-1">
											  		<label class="radio-btn">
												  		<input type="radio" checked="checked" name="radio">
													  	<span class="checkmark"></span>
													</label>
												</div>
												<div class="fil-rr-2">
													<span>Abuja</span>
												</div>
												<div class="fil-rr-3">
													<span>1</span>
												</div>
											</a>
										</div>
									</li>
									<li class="asi-fl-tt">
										<span class="colapse-tap">
										  <a class="" data-toggle="collapse" href="#filter4" role="button" aria-expanded="false" aria-controls="filter4">Work Type<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
										</span>
										<div class="collapse filr0-col"  id="filter4">
											<a class="com0-filter-bx" href="#">
												<div class="fil-rr-1">
											  		<label class="radio-btn">
												  		<input type="radio" checked="checked" name="radio">
													  	<span class="checkmark"></span>
													</label>
												</div>
												<div class="fil-rr-2">
													<span>Full Time</span>
												</div>
												<div class="fil-rr-3">
													<span>1</span>
												</div>
											</a>
										</div>
									</li>
									<li class="asi-fl-tt">
										<span class="colapse-tap">
										  <a class="" data-toggle="collapse" href="#filter5" role="button" aria-expanded="false" aria-controls="filter5">Order By<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
										</span>
										<div class="collapse filr0-col"  id="filter5">
											<a class="com0-filter-bx" href="#">
												<div class="fil-rr-1">
											  		<label class="radio-btn">
												  		<input type="radio" checked="checked" name="radio">
													  	<span class="checkmark"></span>
													</label>
												</div>
												<div class="fil-rr-2">
													<span>Default</span>
												</div>
											</a>
											<a class="com0-filter-bx" href="#">
												<div class="fil-rr-1">
											  		<label class="radio-btn">
												  		<input type="radio" checked="checked" name="radio">
													  	<span class="checkmark"></span>
													</label>
												</div>
												<div class="fil-rr-2">
													<span>Latest</span>
												</div>
											</a>
										</div>
									</li>
								</ul>
								<div class="end-of-filter">
									<button type="button" class="btn btn-red btn-height">Reset Filter</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-8">
						<div class="">
							<div class="card card--compact">
								<div class="card-header">Accounting, Auditing & Finance Automotive & Aviation Jobs in Abuja</div>
								<div class="card-body">
									<div class="act-audit-row">
										<div class="comn-audit audit-1">
											<span>1 Job Found</span>
										</div>
										<div class="comn-audit audit-2">
											<a href="#" class="btn-audit btn btn-red">Create Job Alert</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card card-body card--compact">
								<div class="row-avtive-not">
									<div class="notifi-1 notifi-bell">
										<span class="bell-fa-icon"><i class="fa fa-bell" aria-hidden="true"></i></span>
									</div>
									<div class="notifi-2 txt-noti-m">
										<h4>Activate Notifications</h4>
										<p>Stay productive - get the latest updates on Jobs & News</p>
									</div>
									<div class="notifi-3 ac-not-ac">
										<button class="btn btn-red btn-height">ACTIVATE</button>
									</div>
								</div>
							</div>
							<div class="card card--compact">
								<div class="wrap-full-wig">
									<div class="sub-whole-wrap">
										<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Debt Collector</a></h4></div><div class="new-tag"><span>NEW</span></div></div>
										<div class="team-arc"><span><a class="tm-ac" href="#">Team Ace</a></span></div>
										<div class="list--job-spec">
											<ul class="spec--wig">
												<li class="jobs-it">Abuja</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">Full Time</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">NGN Less than 75,000</li>
											</ul>
										</div>
										<div class="funct-flex">
											<div class="left-wrap0"><span>Job Function:</span><span>Accounting, Auditing & Finance</span></div>
											<div class="right-wrap0"><span>3d</span></div>
										</div>
									</div>
									<div class="sub-new-bottom">
										<div class="icon-box-src"><span class="icon--tem"><i class="fa fa-briefcase" aria-hidden="true"></i></span></div>
										<div class="disc--job0ac"><p>Team Ace is a human resource and consulting company that focus on human resource management, payroll and accounting solutions.</p></div>
									</div>
								</div>
							</div>
							<div class="job-type"><h3 class="title-32">Similar Jobs</h3></div>
							<div class="card card--compact">
								<div class="wrap-full-wig">
									<div class="sub-whole-wrap">
										<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Computer Operator</a></h4></div><div class="new-tag"><span>NEW</span></div></div>
										<div class="team-arc"><span><a class="tm-ac" href="#">Ugom Communication</a></span></div>
										<div class="list--job-spec">
											<ul class="spec--wig">
												<li class="jobs-it">Abuja</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">Full Time</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">NGN Confidential</li>
											</ul>
										</div>
										<div class="funct-flex">
											<div class="left-wrap0"><span>Job Function:</span><span>Accounting, Auditing & Finance</span></div>
											<div class="right-wrap0"><span>3d</span></div>
										</div>
									</div>
									<div class="sub-new-bottom">
										<div class="icon-box-src"><span class="icon--tem"><i class="fa fa-briefcase" aria-hidden="true"></i></span></div>
										<div class="disc--job0ac"><p>We are currently recruiting for this position</p></div>
									</div>
								</div>
							</div>
							<div class="card card--compact">
								<div class="wrap-full-wig">
									<div class="sub-whole-wrap">
										<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Internal Auditor</a></h4></div><div class="new-tag"><span>NEW</span></div></div>
										<div class="team-arc"><span><a class="tm-ac" href="#">Heartland Alliance Ltd/Gte</a></span></div>
										<div class="list--job-spec">
											<ul class="spec--wig">
												<li class="jobs-it">Abuja</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">Full Time</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">NGN 600,000 - 900,000</li>
											</ul>
										</div>
										<div class="funct-flex">
											<div class="left-wrap0"><span>Job Function:</span><span>Accounting, Auditing & Finance</span></div>
											<div class="right-wrap0"><span>6d</span></div>
										</div>
									</div>
									<div class="sub-new-bottom">
										<div class="icon-box-src"><span class="icon--tem"><i class="fa fa-briefcase" aria-hidden="true"></i></span></div>
										<div class="disc--job0ac"><p>The internal auditor will ensure checks and balance, compliance to policies and donor agreements.</p></div>
									</div>
								</div>
							</div>
							<div class="card card-body card--compact">
								<div class="row-avtive-not">
									<div class="notifi-1 notifi-bell">
										<span class="bell-fa-icon"><i class="fa fa-bell" aria-hidden="true"></i></span>
									</div>
									<div class="notifi-2 txt-noti-m">
										<h4>Activate Notifications</h4>
										<p>Stay productive - get the latest updates on Jobs & News</p>
									</div>
									<div class="notifi-3 ac-not-ac">
										<button class="btn btn-red btn-height">ACTIVATE</button>
									</div>
								</div>
							</div>
							<div class="card card--compact">
								<div class="wrap-full-wig">
									<div class="sub-whole-wrap">
										<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Finance and Operations Manager</a></h4></div><div class="new-tag"><span>NEW</span></div></div>
										<div class="team-arc"><span><a class="tm-ac" href="#">Box Office Hub</a></span></div>
										<div class="list--job-spec">
											<ul class="spec--wig">
												<li class="jobs-it">Abuja</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">Full Time</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">NGN 75,000 - 150,000</li>
											</ul>
										</div>
										<div class="funct-flex">
											<div class="left-wrap0"><span>Job Function:</span><span>Accounting, Auditing & Finance</span></div>
											<div class="right-wrap0"><span>1w</span></div>
										</div>
									</div>
									<div class="sub-new-bottom">
										<div class="icon-box-src"><span class="icon--tem"><i class="fa fa-briefcase" aria-hidden="true"></i></span></div>
										<div class="disc--job0ac"><p>Ensure the optimum mgt. of finances and other resources of BOH (human and material). To support value creation through mgt. of operational activities.</p></div>
									</div>
								</div>
							</div>
							<div class="card card--compact">
								<div class="wrap-full-wig">
									<div class="sub-whole-wrap">
										<div class="searc-top-head"><div class="src-job-head"><h4 class="src-title-job"><a href="#">Investment Banker & Private Equity Expert</a></h4></div><div class="new-tag"><span>NEW</span></div></div>
										<div class="team-arc"><span><a class="tm-ac" href="#">Rekriut Human Resource Services</a></span></div>
										<div class="list--job-spec">
											<ul class="spec--wig">
												<li class="jobs-it">Abuja</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">Full Time</li>
												<li class="jobs-it job-header__divider">|</li>
												<li class="jobs-it">NGN 75,000 - 150,000</li>
											</ul>
										</div>
										<div class="funct-flex">
											<div class="left-wrap0"><span>Job Function:</span><span>NGN 250,000 - 400,000</span></div>
											<div class="right-wrap0"><span>2w</span></div>
										</div>
									</div>
									<div class="sub-new-bottom">
										<div class="icon-box-src"><span class="icon--tem"><i class="fa fa-briefcase" aria-hidden="true"></i></span></div>
										<div class="disc--job0ac"><p>We are looking for a high-performance ex: investment banking, private equity, venture capital, to shape the firm’s diligence and investment processes.</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>