.btn-red {
    position: relative;
    z-index: 0;
    background: rgb(235, 1, 15);
    padding: 0px 30px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(235, 1, 15);
    overflow: hidden;
    color: #fff;
}
.card-header:first-child {
    border-radius: 0px !important; 
}
.team-arc{
    padding: 0px;
}