	<div class="wrapper">
		<section class="py-5" style="background: #f8f9fa;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="	">
							<div class="card">
								<div class="card-header">My Credit Balance</div>
								<div class="cart-page-col">
									<p>All packages include lifetime access to candidate pools and our applicant tracking system that can search an unlimited amount of applications. Pay quickly and securely with VISA, MasterCard, American Express or EFT.</p>
								</div>
								<div class="cart-page-col">
									<div class="searc-top-head-old">
										<div class="src-job-head"><h4 class="src-title-job mb-3">Job Listing</h4></div>
										<h6>Free (Limited time offer)</h6>
									</div>
								</div>
								<div class="cart-page-col">
									<div class="searc-top-head-old">
										<div class="src-job-head"><h4 class="src-title-job mb-3">Best Match</h4></div>
										<p>NGN 52,000</p>
										<p>Including VAT</p>
									</div>
								</div>
								<div class="cart-page-col">
									<div class="searc-top-head-old">
										<div class="src-job-head"><h4 class="src-title-job mb-3">Job Listing</h4></div>
										<p>NGN 90,000</p>
										<p>Including VAT</p>
									</div>
								</div>
								<div class="cart-page-col">
									<div class="searc-top-head-old">
										<div class="src-job-head"><h4 class="src-title-job mb-3">Add-ons</h4></div>
										<h6>Assessment</h6>
										<p>NGN 54,000</p>
										<p>Including VAT</p>
										<h6>Job Boost</h6>
										<p>NGN 18,000</p>
										<p>Including VAT</p>
									</div>
								</div>
								<div class="bottom-btm-part pb-4">
									<span class="btn-form-job"><button class="btn btn-red btn-height mr-3">Checkout</button></span>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
	</div>